<a href="https://colab.research.google.com/github/JaejinLee1215/DataAnalysis/blob/main/JaejinLee1215/ch06_01_pandas_%EA%B8%B0%EC%B4%88_%EC%9D%B4%EC%9E%AC%EC%A7%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* ÎåÄÎ∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî ÏãúÍ≥ÑÏó¥(series)ÎÇò Ìëú(table)Î°ú ÎÇòÌÉÄÎÇº Ïàò ÏûàÏùå
* ÌåêÎã§Ïä§(Pandas)Îäî Ïù¥Îü¨Ìïú Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£®Í∏∞ ÏúÑÌïú ÏãúÎ¶¨Ï¶à(`Series`) ÌÅ¥ÎûòÏä§ÏôÄ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ(`DataFrame`) ÌÅ¥ÎûòÏä§Î•º Ï†úÍ≥µ

In [1]:
import pandas as pd

## ÏãúÎ¶¨Ï¶à (Series)
* ÏãúÎ¶¨Ï¶àÎäî NumpyÏóêÏÑú Ï†úÍ≥µÌïòÎäî 1Ï∞®Ïõê Î∞∞Ïó¥Í≥º ÎπÑÏä∑
* Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏùòÎØ∏(Ïù¥Î¶Ñ)Î•º ÌëúÏãúÌïòÎäî Ïù∏Îç±Ïä§(index)Î•º Î∂ôÏùº Ïàò ÏûàÏùå
> Îç∞Ïù¥ÌÑ∞ ÏûêÏ≤¥Îäî Í∞í(value)ÎùºÍ≥† Ìï®
> ÏãúÎ¶¨Ï¶à = Í∞í(value) + Ïù∏Îç±Ïä§(index)

### ÏãúÎ¶¨Ï¶à ÏÉùÏÑ±
* Îç∞Ïù¥ÌÑ∞Î•º Î¶¨Ïä§Ìä∏ÎÇò 1Ï∞®Ïõê Î∞∞Ïó¥ ÌòïÏãùÏúºÎ°ú Series ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±ÏûêÏóê ÎÑ£Ïñ¥Ï£ºÎ©¥ ÏãúÎ¶¨Ï¶à ÌÅ¥ÎûòÏä§ Í∞ùÏ≤¥Î•º ÎßåÎì§ Ïàò ÏûàÏùå
* Ïù¥ Îïå Ïù∏Îç±Ïä§Ïùò Í∏∏Ïù¥Îäî Îç∞Ïù¥ÌÑ∞Ïùò Í∏∏Ïù¥ÏôÄ Í∞ôÏïÑÏïº Ìï®
* Ïù∏Îç±Ïä§Ïùò Í∞íÏùÑ Ïù∏Îç±Ïä§ ÎùºÎ≤®(label)Ïù¥ÎùºÍ≥†ÎèÑ Ìï® 
* Ïù∏Îç±Ïä§ ÎùºÎ≤®ÏùÄ Î¨∏ÏûêÏó¥ Îøê ÏïÑÎãàÎùº ÎÇ†Ïßú, ÏãúÍ∞Ñ, Ï†ïÏàò Îì±ÎèÑ Í∞ÄÎä•

In [3]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú", "ÎåÄÍµ¨"]
s = pd.Series(data, index=index)
s = pd.Series([9904312, 3448737, 2890451, 2466052], 
              index=[9904312, 3448737, 2890451, 2466052])
# Îç∞Ïù¥ÌÑ∞Ïùò Í∏∏Ïù¥ÏôÄ indexÏùò Í∏∏Ïù¥Í∞Ä Í∞ôÏïÑÏïºÌïúÎã§.
# ÏùºÏπòÌïòÏßÄ ÏïäÏùÑ Í≤ΩÏö∞ ÏóêÎü¨ Î∞úÏÉù
s

ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
dtype: int64

* ÎßåÏïΩ Ïù∏Îç±Ïä§Î•º ÏßÄÏ†ïÌïòÏßÄ ÏïäÍ≥† ÏãúÎ¶¨Ï¶àÎ•º ÎßåÎì§Î©¥ ÏãúÎ¶¨Ï¶àÏùò Ïù∏Îç±Ïä§Îäî 0Î∂ÄÌÑ∞ ÏãúÏûëÌïòÎäî Ï†ïÏàòÍ∞íÏù¥ Îê®

In [6]:
# pd.Series(range(10, 14), index=range(4))
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

* ÏãúÎ¶¨Ï¶àÏùò Ïù∏Îç±Ïä§Îäî `index` ÏÜçÏÑ±ÏúºÎ°ú Ï†ëÍ∑ºÌï† Ïàò ÏûàÏùå
* ÏãúÎ¶¨Ï¶àÏùò Í∞íÏùÄ 1Ï∞®Ïõê Î∞∞Ïó¥Ïù¥Î©∞ `values` ÏÜçÏÑ±ÏúºÎ°ú Ï†ëÍ∑ºÌï† Ïàò ÏûàÏùå

In [7]:
s.index

Index(['ÏÑúÏö∏', 'Î∂ÄÏÇ∞', 'Ïù∏Ï≤ú', 'ÎåÄÍµ¨'], dtype='object')

In [8]:
s.values

array([9904312, 3448737, 2890451, 2466052])

* `name` ÏÜçÏÑ±ÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÏãúÎ¶¨Ï¶à Îç∞Ïù¥ÌÑ∞Ïóê Ïù¥Î¶ÑÏùÑ Î∂ôÏùº Ïàò ÏûàÏùå
* `index.name` ÏÜçÏÑ±ÏúºÎ°ú ÏãúÎ¶¨Ï¶àÏùò Ïù∏Îç±Ïä§ÏóêÎèÑ Ïù¥Î¶ÑÏùÑ Î∂ôÏùº Ïàò ÏûàÏùå

In [12]:
s.name = 'Ïù∏Íµ¨Ïàò' # sÏùò SeriesÏùò Ïù¥Î¶Ñ
s.index.name = "ÎèÑÏãú"
s

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨Ïàò, dtype: int64

### ÏãúÎ¶¨Ï¶à Ïó∞ÏÇ∞
* ÎÑòÌååÏù¥ Î∞∞Ïó¥Ï≤òÎüº ÏãúÎ¶¨Ï¶àÎèÑ Î≤°ÌÑ∞Ìôî Ïó∞ÏÇ∞ÏùÑ Ìï† Ïàò ÏûàÏùå 
* Îã§Îßå **Ïó∞ÏÇ∞ÏùÄ ÏãúÎ¶¨Ï¶àÏùò Í∞íÏóêÎßå Ï†ÅÏö©ÎêòÎ©∞ Ïù∏Îç±Ïä§ Í∞íÏùÄ Î≥ÄÌïòÏßÄ ÏïäÏùå**

In [13]:
s / 1_000_000

ÎèÑÏãú
ÏÑúÏö∏    9.904312
Î∂ÄÏÇ∞    3.448737
Ïù∏Ï≤ú    2.890451
ÎåÄÍµ¨    2.466052
Name: Ïù∏Íµ¨Ïàò, dtype: float64

### ÏãúÎ¶¨Ï¶à Ïù∏Îç±Ïã± & Ïä¨ÎùºÏù¥Ïã±
* ÏãúÎ¶¨Ï¶àÎäî Numpy Î∞∞Ïó¥ÏóêÏÑú Í∞ÄÎä•Ìïú Ïù∏Îç±Ïä§ Î∞©Î≤ï Ïù¥Ïô∏ÏóêÎèÑ Ïù∏Îç±Ïä§ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïù∏Îç±Ïã±ÎèÑ Ìï† Ïàò ÏûàÏùå 
* Î∞∞Ïó¥ Ïù∏Îç±Ïã±Ïù¥ÎÇò Ïù∏Îç±Ïä§ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïä¨ÎùºÏù¥Ïã±(slicing)ÎèÑ Í∞ÄÎä•

In [14]:
s[1], s['Î∂ÄÏÇ∞']

(3448737, 3448737)

In [15]:
s[3], s['Ïù∏Ï≤ú']

(2466052, 2890451)

In [16]:
s[-1]

2466052

In [17]:
s[[0, 3, 1]]

ÎèÑÏãú
ÏÑúÏö∏    9904312
ÎåÄÍµ¨    2466052
Î∂ÄÏÇ∞    3448737
Name: Ïù∏Íµ¨Ïàò, dtype: int64

In [18]:
s[["ÏÑúÏö∏", "Ïù∏Ï≤ú", "Î∂ÄÏÇ∞"]]

ÎèÑÏãú
ÏÑúÏö∏    9904312
Ïù∏Ï≤ú    2890451
Î∂ÄÏÇ∞    3448737
Name: Ïù∏Íµ¨Ïàò, dtype: int64

In [19]:
s[s > 5_000_000]

ÎèÑÏãú
ÏÑúÏö∏    9904312
Name: Ïù∏Íµ¨Ïàò, dtype: int64

In [21]:
s[(250e4 < s) & (s < 500e4)] # Ïù∏Íµ¨Í∞Ä 250Îßå Ï¥àÍ≥º, 500Îßå ÎØ∏ÎßåÏùò Í≤ΩÏö∞ (e = 0Ïùò Í≤ΩÏö∞)

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
Name: Ïù∏Íµ¨Ïàò, dtype: int64

In [20]:
s > 5_000_000

ÎèÑÏãú
ÏÑúÏö∏     True
Î∂ÄÏÇ∞    False
Ïù∏Ï≤ú    False
ÎåÄÍµ¨    False
Name: Ïù∏Íµ¨Ïàò, dtype: bool

* Ïä¨ÎùºÏù¥Ïã±ÏùÑ Ìï¥ÎèÑ Î∂ÄÎ∂ÑÏ†ÅÏù∏ ÏãúÎ¶¨Ï¶àÎ•º Î∞òÌôò
* Ïù¥ Îïå *Î¨∏ÏûêÏó¥ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïä¨ÎùºÏù¥Ïã±*ÏùÑ ÌïòÎäî Í≤ΩÏö∞ÏóêÎäî **Ïà´Ïûê Ïù∏Îç±Ïã±Í≥º Îã¨Î¶¨ ÏΩúÎ°†(:) Í∏∞Ìò∏ Îí§Ïóê Ïò§Îäî Í∞íÎèÑ Í≤∞Í≥ºÏóê Ìè¨Ìï®**ÎêòÎØÄÎ°ú Ï£ºÏùò

In [22]:
s[1:3] # index1 ~ 2Î≤àÏß∏, 3Î≤àÏß∏Îäî ÎØ∏Ìè¨Ìï®

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
Name: Ïù∏Íµ¨Ïàò, dtype: int64

In [23]:
s

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨Ïàò, dtype: int64

In [24]:
s["Î∂ÄÏÇ∞":"ÎåÄÍµ¨"] # ÎåÄÍµ¨ÎèÑ Ìè¨Ìï® (Î¨∏ÏûêÏó¥ ÎùºÎ≤®ÏùÑ Ïù¥Ïö©Ìïú Ïä¨ÎùºÏù¥Ïã±)

ÎèÑÏãú
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨Ïàò, dtype: int64

* ÎßåÏïΩ ÎùºÎ≤® Í∞íÏù¥ ÏòÅÎ¨∏ Î¨∏ÏûêÏó¥Ïù∏ Í≤ΩÏö∞ÏóêÎäî Ïù∏Îç±Ïä§ ÎùºÎ≤®Ïù¥ ÏÜçÏÑ±Ïù∏Í≤ÉÏ≤òÎüº Ï†ê(.)ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Ìï¥Îãπ Ïù∏Îç±Ïä§ Í∞íÏóê Ï†ëÍ∑ºÌï† ÏàòÎèÑ ÏûàÏùå

In [26]:
import numpy as np

# s0 = pd.Series(range(3), index=['a', 'b', 'c'])
s0 = pd.Series(np.arange(3), index=list('abc')) # Îëò Îã§ Í∞ôÏùÄ Í∞í, Îã§Î•¥Í≤å Ïì∞Îäî Î≤ï
s0

a    0
b    1
c    2
dtype: int64

In [27]:
s0.a, s0.b, s0.c # Î≥ÄÏàòÌôîÌï† Ïàò ÏûàÎäî Ïù¥Î¶ÑÏù¥ÎùºÎ©¥
# 1) Ïà´ÏûêÎ°ú ÏãúÏûëÌïòÏßÄ ÏïäÏùÑ Í≤É
# 2) Í≥µÎ∞±ÏùÑ Ìè¨Ìï®ÌïòÏßÄ ÏïäÏùÑ Í≤É
# 3) Ïù¥ÏÉÅÌïú ÌäπÏàòÎ¨∏Ïûê x

(0, 1, 2)

In [28]:
# Í∑ºÎç∞ ÌïúÍµ≠Ïñ¥ÎèÑ Îêå
s.Î∂ÄÏÇ∞

3448737

### ÏãúÎ¶¨Ï¶àÏôÄ ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòï
* ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Îäî ÎùºÎ≤® Í∞íÏóê ÏùòÌï¥ Ïù∏Îç±Ïã±Ïù¥ Í∞ÄÎä•ÌïòÎØÄÎ°ú Ïã§ÏßàÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïä§ ÎùºÎ≤® Í∞íÏùÑ ÌÇ§(key)Î°ú Í∞ÄÏßÄÎäî ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòïÍ≥º Ïú†ÏÇ¨
* Îî∞ÎùºÏÑú ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòïÏóêÏÑú Ï†úÍ≥µÌïòÎäî in Ïó∞ÏÇ∞ÎèÑ Í∞ÄÎä•ÌïòÍ≥† items Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïòÎ©¥ for Î£®ÌîÑÎ•º ÌÜµÌï¥ Í∞Å ÏõêÏÜåÏùò ÌÇ§(key)ÏôÄ Í∞í(value)ÏùÑ Ï†ëÍ∑ºÌï† ÏàòÎèÑ ÏûàÏùå

In [29]:
"ÏÑúÏö∏" in s # ÏãúÎ¶¨Ï¶à sÏïàÏóê ÏÑúÏö∏Ïù¥ÎùºÎäî Ïù∏Îç±Ïä§ ÎùºÎ≤®(ÌÇ§) Ïú†Î¨¥ Í≤ÄÏÇ¨

True

In [31]:
print("ÎåÄÏ†Ñ" in s) # ÏãúÎ¶¨Ï¶à sÏïàÏóê ÎåÄÏ†ÑÏù¥ÎùºÎäî Ïù∏Îç±Ïä§ ÎùºÎ≤®(ÌÇ§) Ïú†Î¨¥ Í≤ÄÏÇ¨
print("ÎåÄÏ†Ñ" not in s)

False
True

In [33]:
for k, v in s.items():
    print(k + " = " + str(v))
    print(f"{k} = {v}")
    print("{k} = {v}".format(k=k, v=v))
    print("{} = {}.format(k, v)")
    print("%s = %d" % (k, v))

    # Îã§ÏñëÌïú Î∞©Î≤ïÏúºÎ°ú ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏùå.

ÏÑúÏö∏ = 9904312
Î∂ÄÏÇ∞ = 3448737
Ïù∏Ï≤ú = 2890451
ÎåÄÍµ¨ = 2466052

* ÎîïÏÖîÎÑàÎ¶¨ Í∞ùÏ≤¥ÏóêÏÑú ÏãúÎ¶¨Ï¶àÎ•º ÎßåÎì§ ÏàòÎèÑ ÏûàÏùå

In [39]:
s2 = pd.Series({
    "ÏÑúÏö∏" : 9631482,
    "Î∂ÄÏÇ∞" : 3393191,
    "Ïù∏Ï≤ú" : 2632035,
    "ÎåÄÏ†Ñ" : 1490158
})
s2

ÏÑúÏö∏    9631482
Î∂ÄÏÇ∞    3393191
Ïù∏Ï≤ú    2632035
ÎåÄÏ†Ñ    1490158
dtype: int64

* ÎîïÏÖîÎÑàÎ¶¨Ïùò ÏõêÏÜåÎäî ÏàúÏÑúÎ•º Í∞ÄÏßÄÏßÄ ÏïäÏúºÎØÄÎ°ú ÏãúÎ¶¨Ï¶àÏùò Îç∞Ïù¥ÌÑ∞ÎèÑ ÏàúÏÑúÍ∞Ä Î≥¥Ïû•ÎêòÏßÄ ÏïäÏùå
* ÎßåÏïΩ ÏàúÏÑúÎ•º Ï†ïÌïòÍ≥† Ïã∂Îã§Î©¥ Ïù∏Îç±Ïä§Î•º Î¶¨Ïä§Ìä∏Î°ú ÏßÄÏ†ïÌï¥Ïïº Ìï®

In [183]:
s2 = pd.Series({
    "ÏÑúÏö∏" : 9631482,
    "Î∂ÄÏÇ∞" : 3393191,
    "Ïù∏Ï≤ú" : 2632035,
    "ÎåÄÏ†Ñ" : 1490158
}, index=["Ïù∏Ï≤ú", "ÏÑúÏö∏", "Î∂ÄÏÇ∞", "ÎåÄÏ†Ñ"])
s2

Ïù∏Ï≤ú    2632035
ÏÑúÏö∏    9631482
Î∂ÄÏÇ∞    3393191
ÎåÄÏ†Ñ    1490158
dtype: int64

### Ïù∏Îç±Ïä§ Í∏∞Î∞ò Ïó∞ÏÇ∞
* Îëê ÏãúÎ¶¨Ï¶àÏóê ÎåÄÌï¥ Ïó∞ÏÇ∞ÏùÑ ÌïòÎäî Í≤ΩÏö∞ Ïù∏Îç±Ïä§Í∞Ä Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ÏÑúÎßå Ï∞®Ïù¥Î•º Íµ¨Ìï®

In [43]:
print(s)
print(s2)

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: Ïù∏Íµ¨Ïàò, dtype: int64
Ïù∏Ï≤ú    2632035
ÏÑúÏö∏    9631482
Î∂ÄÏÇ∞    3393191
ÎåÄÏ†Ñ    1490158
dtype: int64

In [44]:
ds = s - s2
ds # NaN : Not a Number

ÎåÄÍµ¨         NaN
ÎåÄÏ†Ñ         NaN
Î∂ÄÏÇ∞     55546.0
ÏÑúÏö∏    272830.0
Ïù∏Ï≤ú    258416.0
dtype: float64

In [45]:
ds = s + s2
ds

ÎåÄÍµ¨           NaN
ÎåÄÏ†Ñ           NaN
Î∂ÄÏÇ∞     6841928.0
ÏÑúÏö∏    19535794.0
Ïù∏Ï≤ú     5522486.0
dtype: float64

In [46]:
ds = s * s2
ds

ÎåÄÍµ¨             NaN
ÎåÄÏ†Ñ             NaN
Î∂ÄÏÇ∞    1.170222e+13
ÏÑúÏö∏    9.539320e+13
Ïù∏Ï≤ú    7.607768e+12
dtype: float64

In [47]:
ds = s > s2 # ÎπÑÍµê Ïó∞ÏÇ∞ÏùÄ ÏïàÎêúÎã§.
ds

ValueError: ignored

In [49]:
ds = s | s2 # ÎÖºÎ¶¨ Ïó∞ÏÇ∞
ds

ÎåÄÍµ¨     True
ÎåÄÏ†Ñ    False
Î∂ÄÏÇ∞     True
ÏÑúÏö∏     True
Ïù∏Ï≤ú     True
dtype: bool

In [50]:
print(s.values)
print(s2.values)

[9904312 3448737 2890451 2466052]
[2632035 9631482 3393191 1490158]

In [51]:
s.values - s2.values # Ïù∏Îç±Ïä§ ÏàúÏÑúÍ∞Ä Îã¨ÎùºÏÑú ÏÑ†Ìò∏ÎêòÏßÄ ÏïäÎäî Î∞©Î≤ï

array([ 7272277, -6182745,  -502740,   975894])

In [185]:
# NaNÏù∏ Í∞íÏùÑ Íµ¨ÌïòÍ≥† Ïã∂Îã§Î©¥ notnull Î©îÏÜåÎìúÎ•º ÏÇ¨Ïö©
ds.notnull()
# ds.notnull() != True
# ds.notnull() != 1
# ds.notnull().eq(0)

ÎåÄÍµ¨    True
ÎåÄÏ†Ñ    True
Î∂ÄÏÇ∞    True
ÏÑúÏö∏    True
Ïù∏Ï≤ú    True
dtype: bool

In [54]:
ds.notna()

ÎåÄÍµ¨    True
ÎåÄÏ†Ñ    True
Î∂ÄÏÇ∞    True
ÏÑúÏö∏    True
Ïù∏Ï≤ú    True
dtype: bool

In [58]:
ds[ds.notnull()]

ÎåÄÍµ¨     True
ÎåÄÏ†Ñ    False
Î∂ÄÏÇ∞     True
ÏÑúÏö∏     True
Ïù∏Ï≤ú     True
dtype: bool

In [59]:
# Ïù∏Íµ¨ Ï¶ùÍ∞ÄÏú® Íµ¨ÌïòÍ∏∞ (%)
# s : 2015, s2: 2010, 2010 -> 2015 Ïù∏Íµ¨ Ï¶ùÍ∞ÄÏú®
# (s - s2) / s2 * 100
rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

Î∂ÄÏÇ∞    1.636984
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

In [61]:
rs = rs.dropna()
rs

Î∂ÄÏÇ∞    1.636984
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

### Îç∞Ïù¥ÌÑ∞Ïùò Í∞±Ïã†, Ï∂îÍ∞Ä, ÏÇ≠Ï†ú
* Ïù∏Îç±Ïã±ÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÎîïÏÖîÎÑàÎ¶¨Ï≤òÎüº Îç∞Ïù¥ÌÑ∞Î•º Í∞±Ïã†(update) ÌòπÏùÄ Ï∂îÍ∞Ä(add)

In [62]:
rs

Î∂ÄÏÇ∞    1.636984
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

In [63]:
rs["Î∂ÄÏÇ∞"] = 1.63
rs

Î∂ÄÏÇ∞    1.630000
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

In [64]:
rs["ÎåÄÍµ¨"] = 1.41
rs

Î∂ÄÏÇ∞    1.630000
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
ÎåÄÍµ¨    1.410000
dtype: float64

In [65]:
# Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†úÏãú del Î™ÖÎ†π ÏÇ¨Ïö©
del rs["ÎåÄÍµ¨"]
rs

Î∂ÄÏÇ∞    1.630000
ÏÑúÏö∏    2.832690
Ïù∏Ï≤ú    9.818107
dtype: float64

### ü¶Ü Ïó∞ÏäµÎ¨∏Ï†ú 1
1. ÏûÑÏùòÎ°ú Îëê Í∞úÏùò ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Î•º ÎßåÎì†Îã§. Î™®Îëê Î¨∏ÏûêÏó¥ Ïù∏Îç±Ïä§Î•º Í∞ÄÏ†∏Ïïº ÌïòÎ©∞ Îëê ÏãúÎ¶¨Ï¶àÏóê Í≥µÌÜµÏ†ÅÏúºÎ°ú Ìè¨Ìï®ÎêòÏßÄ ÏïäÎäî ÎùºÎ≤®Ïù¥ ÏûàÏñ¥Ïïº ÌïúÎã§.
1. ÏúÑÏóêÏÑú ÎßåÎì† Îëê ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Î•º Ïù¥Ïö©ÌïòÏó¨ ÏÇ¨Ïπô Ïó∞ÏÇ∞ÏùÑ ÌïúÎã§.

In [72]:
# ÏûÑÏùòÎ°ú ÏûëÏÑ±Ìï¥Î≥∏ ÏΩîÎìú
import pandas as pd

# Ï≤´ Î≤àÏß∏ ÏãúÎ¶¨Ï¶à ÏÉùÏÑ±
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Îëê Î≤àÏß∏ ÏãúÎ¶¨Ï¶à ÏÉùÏÑ±
s2 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])

# ÎçîÌïòÍ∏∞
s3 = s1 + s2
print(s3)

# ÎπºÍ∏∞
s4 = s1 - s2
print(s4)

# Í≥±ÌïòÍ∏∞
s5 = s1 * s2
print(s5)

# ÎÇòÎàÑÍ∏∞
s6 = s1 / s2
print(s6)

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64
a    NaN
b   -2.0
c   -2.0
d    NaN
dtype: float64
a     NaN
b     8.0
c    15.0
d     NaN
dtype: float64
a    NaN
b    0.5
c    0.6
d    NaN
dtype: float64

In [73]:
import numpy as np
import pandas as pd

In [77]:
[chr(a) for a in range(65, 91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [187]:
str_index = lambda x: np.random.choice(list(map(chr,range(65, 75))), x, replace=False)

value_count = 6
s1 = pd.Series(np.random.randn(value_count), str_index(value_count))
s2 = pd.Series(np.random.randn(value_count), str_index(value_count))
print(s1)
print(s2)

F    0.278220
C   -1.634596
B   -1.300611
J    2.637811
G    0.333011
H   -0.695524
dtype: float64
E   -1.513452
D   -0.165893
H   -0.818621
A    0.783695
B    0.054907
G   -0.820600
dtype: float64

In [188]:
s1 + s2

A         NaN
B   -1.245704
C         NaN
D         NaN
E         NaN
F         NaN
G   -0.487590
H   -1.514145
J         NaN
dtype: float64

In [189]:
s1 - s2

A         NaN
B   -1.355518
C         NaN
D         NaN
E         NaN
F         NaN
G    1.153611
H    0.123096
J         NaN
dtype: float64

In [190]:
s1 * s2

A         NaN
B   -0.071412
C         NaN
D         NaN
E         NaN
F         NaN
G   -0.273269
H    0.569371
J         NaN
dtype: float64

In [191]:
s1 / s2

A          NaN
B   -23.687586
C          NaN
D          NaN
E          NaN
F          NaN
G    -0.405814
H     0.849630
J          NaN
dtype: float64

## Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ (DataFrame)
* ÏãúÎ¶¨Ï¶àÍ∞Ä 1Ï∞®Ïõê Î∞∞Ïó¥ Îç∞Ïù¥ÌÑ∞Ïóê ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§(row index)Î•º Î∂ôÏù∏ Í≤ÉÏù¥ÎùºÎ©¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÎäî 2Ï∞®Ïõê ÌñâÎ†¨ Îç∞Ïù¥ÌÑ∞Ïóê Ïù∏Îç±Ïä§Î•º Î∂ôÏù∏ Í≤É
* 2Ï∞®ÏõêÏù¥ÎØÄÎ°ú Í∞ÅÍ∞ÅÏùò Ìñâ Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥Î¶ÑÏù¥ ÎêòÎäî Ìñâ Ïù∏Îç±Ïä§(row index) Îøê ÏïÑÎãàÎùº Í∞ÅÍ∞ÅÏùò Ïó¥ Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥Î¶ÑÏù¥ ÎêòÎäî Ïó¥ Ïù∏Îç±Ïä§(column index)ÎèÑ Î∂ôÏùº Ïàò ÏûàÏùå

### Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
1. ÌïòÎÇòÏùò Ïó¥Ïù¥ ÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Î¶¨Ïä§Ìä∏ÎÇò ÏùºÏ∞®Ïõê Î∞∞Ïó¥ÏùÑ Ï§ÄÎπÑ
1. Ïù¥ Í∞ÅÍ∞ÅÏùò Ïó¥Ïóê ÎåÄÌïú Ïù¥Î¶Ñ(ÎùºÎ≤®)ÏùÑ ÌÇ§Î°ú Í∞ÄÏßÄÎäî ÎîïÏÖîÎÑàÎ¶¨Î•º ÏÉùÏÑ±
1. Ïù¥ Îç∞Ïù¥ÌÑ∞Î•º DataFrame ÏÉùÏÑ±ÏûêÏóê ÎÑ£Ïùå. ÎèôÏãúÏóê Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§Îäî `columns` Ïù∏ÏàòÎ°ú, ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§Îäî `index` Ïù∏ÏàòÎ°ú ÏßÄÏ†ï

In [194]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ÏßÄÏó≠": ["ÏàòÎèÑÍ∂å", "Í≤ΩÏÉÅÍ∂å", "ÏàòÎèÑÍ∂å", "Í≤ΩÏÉÅÍ∂å"],
    "2010-2015 Ï¶ùÍ∞ÄÏú®": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["ÏßÄÏó≠", "2015", "2010", "2005", "2000", "2010-2015 Ï¶ùÍ∞ÄÏú®"]
index = ["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú", "ÎåÄÍµ¨"]

In [195]:
df = pd.DataFrame(data, index=index, columns=columns)
df

     ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Í≥µÌÜµ Ïù∏Îç±Ïä§Î•º Í∞ÄÏßÄÎäî Ïó¥ ÏãúÎ¶¨Ï¶à(column series)Î•º ÎîïÏÖîÎÑàÎ¶¨Î°ú Î¨∂Ïñ¥ÎÜìÏùÄ Í≤ÉÏù¥ÎùºÍ≥† Î≥¥Îäî Í≤ÉÏù¥ Îçî Ï†ïÌôï
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Í∞Å Ïó¥(column)ÎßàÎã§ ÏûêÎ£åÌòïÏù¥ Îã§Î•º Ïàò ÏûàÏùå (2Ï∞®Ïõê Î∞∞Ïó¥Ïù¥ÎùºÍ≥† Î≥¥Í∏∞Ïóî Î¨¥Î¶¨)
---
* Îç∞Ïù¥ÌÑ∞Îßå Ï†ëÍ∑ºÌïòÎ†§Î©¥ `values` ÏÜçÏÑ± ÏÇ¨Ïö©
* Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§ : `columns` ÏÜçÏÑ±
* ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§ : `index` ÏÜçÏÑ±

In [196]:
df.values

array([['ÏàòÎèÑÍ∂å', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['Í≤ΩÏÉÅÍ∂å', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['ÏàòÎèÑÍ∂å', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['Í≤ΩÏÉÅÍ∂å', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [197]:
df.columns

Index(['ÏßÄÏó≠', '2015', '2010', '2005', '2000', '2010-2015 Ï¶ùÍ∞ÄÏú®'], dtype='object')

In [198]:
df.index

Index(['ÏÑúÏö∏', 'Î∂ÄÏÇ∞', 'Ïù∏Ï≤ú', 'ÎåÄÍµ¨'], dtype='object')

In [199]:
# ÏãúÎ¶¨Ï¶àÏ≤òÎüº Ïó¥Î∞©Ìñ• Ïù∏Îç±Ïä§ÏôÄ ÌñâÎ∞©Ìñ• Ïù∏Îç±Ïä§Ïóê Ïù¥Î¶ÑÏùÑ Î∂ôÏù¥Îäî Í≤ÉÎèÑ Í∞ÄÎä•
df.index.name = "ÎèÑÏãú"
df.columns.name = "ÌäπÏÑ±"
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

### ü¶Ü Ïó∞ÏäµÎ¨∏Ï†ú 2
Îã§Ïùå Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÌïòÎäî ÏûÑÏùòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÌïòÎÇò ÎßåÎì†Îã§.

1. Ïó¥Ïùò Í∞ØÏàòÏôÄ ÌñâÏùò Í∞ØÏàòÍ∞Ä Í∞ÅÍ∞Å 5Í∞ú Ïù¥ÏÉÅÏù¥Ïñ¥Ïïº ÌïúÎã§.
1. Ïó¥ÏóêÎäî Ï†ïÏàò, Î¨∏ÏûêÏó¥, Ïã§Ïàò ÏûêÎ£åÌòï Îç∞Ïù¥ÌÑ∞Í∞Ä Í∞ÅÍ∞Å 1Í∞ú Ïù¥ÏÉÅÏî© Ìè¨Ìï®ÎêòÏñ¥ ÏûàÏñ¥Ïïº ÌïúÎã§.

In [200]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052, 2399391],
    "2010": [9631482, 3393191, 2632035, 2431774, 2323921],
    "2005": [9762546, 3512547, 2517680, 2456016, 1919219],
    "2000": [9853972, 3655437, 2466338, 2473990, 1218211],
    "ÏßÄÏó≠": ["ÏàòÎèÑÍ∂å", "Í≤ΩÏÉÅÍ∂å", "ÏàòÎèÑÍ∂å", "Í≤ΩÏÉÅÍ∂å", "ÏàòÎèÑÍ∂å"],
    "2010-2015 Ï¶ùÍ∞ÄÏú®": [0.0283, 0.0163, 0.0982, 0.0141, 0.0931]
}
columns = ["ÏßÄÏó≠", "2015", "2010", "2005", "2000", "2010-2015 Ï¶ùÍ∞ÄÏú®"]
index = ["ÏÑúÏö∏", "Î∂ÄÏÇ∞", "Ïù∏Ï≤ú", "ÎåÄÍµ¨", "ÏàòÏõê"]
df2 = pd.DataFrame(data, index=index, columns=columns)
df2

     ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141
ÏàòÏõê  ÏàòÎèÑÍ∂å  2399391  2323921  1919219  1218211         0.0931

In [201]:
pd.DataFrame({
    'a': np.random.randn(5), # -2 ~ 2. ÌëúÏ§ÄÏ†ïÍ∑úÎ∂ÑÌè¨Î•º Îî∞Î•¥Îäî... (ÌèâÍ∑† 0, ÌëúÏ§ÄÌé∏Ï∞® 1)
    'b': np.random.rand(5), # 0 ~ 1. 
    'c': np.random.randint(10, size=5), # 0~9 ÏÇ¨Ïù¥Ïùò 5Í∞ú Ï†ïÏàò
    # 'd': np.logspace(0, 1, 5),
    'd': np.linspace(0, 1, 5),
    'e': np.random.choice(list("„Ñ±„Ñ¥„Ñ∑„Ñπ„ÖÅ"), 5, replace=False),
    },
    # index=list("ABCDE")
    index=list(map(chr, range(65, 70))),
)

          a         b  c     d  e
A  1.122873  0.653501  1  0.00  „Ñπ
B  0.377292  0.775624  4  0.25  „Ñ∑
C  0.963641  0.386166  9  0.50  „Ñ¥
D  0.999289  0.290075  9  0.75  „ÖÅ
E -0.677616  0.095067  3  1.00  „Ñ±

In [202]:
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Ï†ÑÏπò(transpose)Î•º Ìè¨Ìï®ÌïòÏó¨ ÎÑòÌååÏù¥ 2Ï∞®Ïõê Î∞∞Ïó¥Ïù¥ Í∞ÄÏßÄÎäî ÎåÄÎ∂ÄÎ∂ÑÏùò ÏÜçÏÑ±Ïù¥ÎÇò Î©îÏÑúÎìúÎ•º ÏßÄÏõê
df.T

ÎèÑÏãú                  ÏÑúÏö∏       Î∂ÄÏÇ∞       Ïù∏Ï≤ú       ÎåÄÍµ¨
ÌäπÏÑ±
ÏßÄÏó≠                 ÏàòÎèÑÍ∂å      Í≤ΩÏÉÅÍ∂å      ÏàòÎèÑÍ∂å      Í≤ΩÏÉÅÍ∂å
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 Ï¶ùÍ∞ÄÏú®   0.0283   0.0163   0.0982   0.0141

### Ïó¥ Îç∞Ïù¥ÌÑ∞Ïùò Í∞±Ïã†, Ï∂îÍ∞Ä, ÏÇ≠Ï†ú
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Ïó¥ ÏãúÎ¶¨Ï¶àÏùò ÎîïÏÖîÎÑàÎ¶¨ÏúºÎ°ú Î≥º Ïàò ÏûàÏúºÎØÄÎ°ú Ïó¥ Îã®ÏúÑÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Í∞±Ïã†ÌïòÍ±∞ÎÇò Ï∂îÍ∞Ä, ÏÇ≠Ï†úÌï† Ïàò ÏûàÏùå

In [203]:
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

In [204]:
df["ÏßÄÏó≠"]

ÎèÑÏãú
ÏÑúÏö∏    ÏàòÎèÑÍ∂å
Î∂ÄÏÇ∞    Í≤ΩÏÉÅÍ∂å
Ïù∏Ï≤ú    ÏàòÎèÑÍ∂å
ÎåÄÍµ¨    Í≤ΩÏÉÅÍ∂å
Name: ÏßÄÏó≠, dtype: object

In [205]:
df["ÏßÄÏó≠"]["ÏÑúÏö∏"], df["ÏßÄÏó≠"][0]

('ÏàòÎèÑÍ∂å', 'ÏàòÎèÑÍ∂å')

In [206]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] * 100

ÎèÑÏãú
ÏÑúÏö∏    2.83
Î∂ÄÏÇ∞    1.63
Ïù∏Ï≤ú    9.82
ÎåÄÍµ¨    1.41
Name: 2010-2015 Ï¶ùÍ∞ÄÏú®, dtype: float64

In [207]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] = df['2010-2015 Ï¶ùÍ∞ÄÏú®'] * 100
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           1.63
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           9.82
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990           1.41

In [208]:
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] /= 100
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972         0.0283
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437         0.0163
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338         0.0982
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990         0.0141

In [209]:
# df['2010-2015 Ï¶ùÍ∞ÄÏú®'] = df['2010-2015 Ï¶ùÍ∞ÄÏú®'] * 100
df['2010-2015 Ï¶ùÍ∞ÄÏú®'] *= 100
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           1.63
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           9.82
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990           1.41

In [210]:
# '2005-2010 Ï¶ùÍ∞ÄÏú®'Ïù¥ÎùºÎäî Ïù¥Î¶ÑÏùò Ïó¥ÏùÑ Ï∂îÍ∞Ä
# df['2005-2010 Ï¶ùÍ∞ÄÏú®']
# 2005-2010 Ï¶ùÍ∞ÄÏú® = (2010Ïù∏Íµ¨Ïàò - 2005Ïù∏Íµ¨Ïàò) / 2005Ïù∏Íµ¨Ïàò * 100
# df['2005-2010 Ï¶ùÍ∞ÄÏú®'] = (df['2010'] - df['2005']) / df['2005'] * 100
df['2005-2010 Ï¶ùÍ∞ÄÏú®'] = ((df['2010'] - df['2005']) / df['2005'] * 100).round(2) # ÏÜåÏàòÏ†ê nÏß∏ÏûêÎ¶¨ ÍπåÏßÄ Î∞òÏò¨Î¶º
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2010-2015 Ï¶ùÍ∞ÄÏú®  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972           2.83          -1.34
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           1.63          -3.40
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           9.82           4.54
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990           1.41          -0.99

In [211]:
del df["2010-2015 Ï¶ùÍ∞ÄÏú®"]
df

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972          -1.34
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437          -3.40
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           4.54
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990          -0.99

### Ïó¥ Ïù∏Îç±Ïã±
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ Ïó¥ ÎùºÎ≤®ÏùÑ ÌÇ§Î°ú, Ïó¥ ÏãúÎ¶¨Ï¶àÎ•º Í∞íÏúºÎ°ú Í∞ÄÏßÄÎäî ÎîïÏÖîÎÑàÎ¶¨ÏôÄ Ïú†ÏÇ¨
* Îî∞ÎùºÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ïù∏Îç±Ïã±ÏùÑ Ìï† ÎïåÎèÑ Ïó¥ ÎùºÎ≤®(column label)ÏùÑ ÌÇ§Í∞íÏúºÎ°ú ÏÉùÍ∞ÅÌïòÏó¨ Ïù∏Îç±Ïã±ÏùÑ Ìï† Ïàò ÏûàÏùå
* Ïù∏Îç±Ïä§Î°ú ÎùºÎ≤® Í∞íÏùÑ ÌïòÎÇòÎßå ÎÑ£ÏúºÎ©¥ ÏãúÎ¶¨Ï¶à Í∞ùÏ≤¥Í∞Ä Î∞òÌôòÎêòÍ≥† ÎùºÎ≤®Ïùò Î∞∞Ïó¥ ÎòêÎäî Î¶¨Ïä§Ìä∏Î•º ÎÑ£ÏúºÎ©¥ Î∂ÄÎ∂ÑÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ Î∞òÌôò

In [110]:
# ÌïòÎÇòÏùò Ïó¥Îßå Ïù∏Îç±Ïã±ÌïòÎ©¥ ÏãúÎ¶¨Ï¶àÍ∞Ä Î∞òÌôò
df['ÏßÄÏó≠']

ÎèÑÏãú
ÏÑúÏö∏    ÏàòÎèÑÍ∂å
Î∂ÄÏÇ∞    Í≤ΩÏÉÅÍ∂å
Ïù∏Ï≤ú    ÏàòÎèÑÍ∂å
ÎåÄÍµ¨    Í≤ΩÏÉÅÍ∂å
Name: ÏßÄÏó≠, dtype: object

In [111]:
# Ïó¨Îü¨Í∞úÏùò Ïó¥ÏùÑ Ïù∏Îç±Ïã±ÌïòÎ©¥ Î∂ÄÎ∂ÑÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ Î∞òÌôò
df[['2010', '2015']]

ÌäπÏÑ±     2010     2015
ÎèÑÏãú
ÏÑúÏö∏  9631482  9904312
Î∂ÄÏÇ∞  3393191  3448737
Ïù∏Ï≤ú  2632035  2890451
ÎåÄÍµ¨  2431774  2466052

* ÎßåÏïΩ ÌïòÎÇòÏùò Ïó¥Îßå ÎπºÎÇ¥Î©¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏûêÎ£åÌòïÏùÑ Ïú†ÏßÄÌïòÍ≥† Ïã∂Îã§Î©¥ ÏõêÏÜåÍ∞Ä ÌïòÎÇòÏù∏ Î¶¨Ïä§Ìä∏Î•º Ïç®ÏÑú Ïù∏Îç±Ïã±

In [112]:
# 2010Ïù¥ÎùºÎäî Ïó¥ÏùÑ Î∞òÌôòÌïòÎ©¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏûêÎ£åÌòïÏùÑ Ïú†ÏßÄ
df[['2010']]

ÌäπÏÑ±     2010
ÎèÑÏãú
ÏÑúÏö∏  9631482
Î∂ÄÏÇ∞  3393191
Ïù∏Ï≤ú  2632035
ÎåÄÍµ¨  2431774

In [113]:
type(df[['2010']])

pandas.core.frame.DataFrame

In [114]:
# 2010Ïù¥ÎùºÎäî Ïó¥ÏùÑ Î∞òÌôòÌïòÎ©¥ÏÑú ÏãúÎ¶¨Ï¶à ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôò
df['2010']

ÎèÑÏãú
ÏÑúÏö∏    9631482
Î∂ÄÏÇ∞    3393191
Ïù∏Ï≤ú    2632035
ÎåÄÍµ¨    2431774
Name: 2010, dtype: int64

In [115]:
type(df['2010'])

pandas.core.series.Series

* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïó¥ Ïù∏Îç±Ïä§Í∞Ä Î¨∏ÏûêÏó¥ ÎùºÎ≤®ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÎäî Í≤ΩÏö∞ÏóêÎäî ÏàúÏÑúÎ•º ÎÇòÌÉÄÎÇ¥Îäî Ï†ïÏàò Ïù∏Îç±Ïä§Î•º Ïó¥ Ïù∏Îç±Ïã±Ïóê ÏÇ¨Ïö©Ìï† Ïàò ÏóÜÏùå
* Ï†ïÏàò Ïù∏Îç±Ïã±Ïùò Ïä¨ÎùºÏù¥Ïä§Îäî Ìñâ(row)ÏùÑ Ïù∏Îç±Ïã±Ìï† Îïå ÏÇ¨Ïö©ÌïòÎØÄÎ°ú Ïó¥ÏùÑ Ïù∏Îç±Ïã±Ìï† ÎïåÎäî Ïì∏ Ïàò ÏóÜÏùå (Ï†ïÏàò Ïù∏Îç±Ïä§Î•º ÎÑ£ÏúºÎ©¥ KeyError Ïò§Î•òÍ∞Ä Î∞úÏÉù)

In [116]:
df[0]

KeyError: ignored

* Îã§Îßå ÏõêÎûòÎ∂ÄÌÑ∞ Î¨∏ÏûêÏó¥Ïù¥ ÏïÑÎãå Ï†ïÏàòÌòï Ïó¥ Ïù∏Îç±Ïä§Î•º Í∞ÄÏßÄÎäî Í≤ΩÏö∞ÏóêÎäî Ïù∏Îç±Ïä§ Í∞íÏúºÎ°ú Ï†ïÏàòÎ•º ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏùå

In [212]:
# df2 = pd.DataFrame(np.arange(12).reshape(3,-1), columns=range(4))
df2 = pd.DataFrame(np.arange(12).reshape(3,-1))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [119]:
df2[0]

0    0
1    4
2    8
Name: 0, dtype: int64

In [213]:
df2[1]

0    1
1    5
2    9
Name: 1, dtype: int64

In [122]:
df2[[3,1]]

    3  1
0   3  1
1   7  5
2  11  9

In [123]:
df3 = pd.DataFrame(np.arange(12).reshape(3,-1), columns=range(1,5))
df3

   1  2   3   4
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [124]:
df3[3]

0     2
1     6
2    10
Name: 3, dtype: int64

### Ìñâ Ïù∏Îç±Ïã±
* ÎßåÏïΩ Ìñâ Îã®ÏúÑÎ°ú Ïù∏Îç±Ïã±ÏùÑ ÌïòÍ≥†Ïûê ÌïòÎ©¥ Ìï≠ÏÉÅ Ïä¨ÎùºÏù¥Ïã±(slicing)ÏùÑ Ìï¥ÏïºÌï®
* Ïù∏Îç±Ïä§Ïùò Í∞íÏù¥ Î¨∏Ïûê ÎùºÎ≤®Ïù¥Î©¥ ÎùºÎ≤® Ïä¨ÎùºÏù¥Ïã±ÎèÑ Í∞ÄÎä•

In [125]:
df[:1] # Î™®Îì† Ïó¥ÏùÑ Ìè¨Ìï®ÌïòÎäîÎç∞ Ï≤´Î≤àÏß∏ Í∞íÎßå ÎÇòÏò®Îã§.

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972          -1.34

In [126]:
df[1:2]

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437           -3.4

In [127]:
df[1:3]

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437          -3.40
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           4.54

In [128]:
df["ÏÑúÏö∏":"Î∂ÄÏÇ∞"] # Î¨∏ÏûêÏó¥ indexing, ÎÅùÏ†ê Ìè¨Ìï®

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972          -1.34
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437          -3.40

In [129]:
df["ÏÑúÏö∏":"ÎåÄÍµ¨"] # Î¨∏ÏûêÏó¥ indexing, ÎÅùÏ†ê Ìè¨Ìï®

ÌäπÏÑ±   ÏßÄÏó≠     2015     2010     2005     2000  2005-2010 Ï¶ùÍ∞ÄÏú®
ÎèÑÏãú
ÏÑúÏö∏  ÏàòÎèÑÍ∂å  9904312  9631482  9762546  9853972          -1.34
Î∂ÄÏÇ∞  Í≤ΩÏÉÅÍ∂å  3448737  3393191  3512547  3655437          -3.40
Ïù∏Ï≤ú  ÏàòÎèÑÍ∂å  2890451  2632035  2517680  2466338           4.54
ÎåÄÍµ¨  Í≤ΩÏÉÅÍ∂å  2466052  2431774  2456016  2473990          -0.99

In [214]:
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [131]:
df2[1:2] # Ï†ïÏàòÌòï indexing

   0  1  2  3
1  4  5  6  7

### Í∞úÎ≥Ñ Îç∞Ïù¥ÌÑ∞ Ïù∏Îç±Ïã±
* Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú Ïó¥ ÎùºÎ≤®Î°ú ÏãúÎ¶¨Ï¶àÎ•º Ïù∏Îç±Ïã±ÌïòÎ©¥ ÏãúÎ¶¨Ï¶àÍ∞Ä Îê®. Ïù¥ ÏãúÎ¶¨Ï¶àÎ•º Îã§Ïãú Ìñâ ÎùºÎ≤®Î°ú Ïù∏Îç±Ïã±ÌïòÎ©¥ Í∞úÎ≥Ñ Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÇòÏò¥.

In [132]:
df['2015'] # Ïó¥ Ï°∞Ìöå

ÎèÑÏãú
ÏÑúÏö∏    9904312
Î∂ÄÏÇ∞    3448737
Ïù∏Ï≤ú    2890451
ÎåÄÍµ¨    2466052
Name: 2015, dtype: int64

In [133]:
df['2015'][0] # [Ïó¥][Ìñâ]

9904312

In [134]:
df['2015']["ÏÑúÏö∏"]

9904312

In [135]:
df['2010']['Ïù∏Ï≤ú']

2632035

### Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ïù∏Îç±Ïã± Î∞©Î≤ï Ï†ïÎ¶¨
|Ïù∏Îç±Ïã± Í∞í|Í∞ÄÎä•|Í≤∞Í≥º|ÏûêÎ£åÌòï|Ï∂îÍ∞ÄÏÇ¨Ìï≠|
|:-|:-|:-|:-|:-|
|ÎùºÎ≤®|O|Ïó¥|ÏãúÎ¶¨Ï¶à||
|ÎùºÎ≤® Î¶¨Ïä§Ìä∏|O|Ïó¥|Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ||
|Ïù∏Îç±Ïä§ Îç∞Ïù¥ÌÑ∞ (Ï†ïÏàò)|X||Ïó¥ ÎùºÎ≤®Ïù¥ Ï†ïÏàòÏù∏ Í≤ΩÏö∞ÏóêÎäî ÎùºÎ≤® Ïù∏Îç±Ïã±ÏúºÎ°ú Ïù∏Ï†ï|
|Ïù∏Îç±Ïä§ Îç∞Ïù¥ÌÑ∞(Ï†ïÏàò) Ïä¨ÎùºÏù¥Ïä§|O|Ìñâ|Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ||

### ü¶Ü Ïó∞ÏäµÎ¨∏Ï†ú 3
```
data = {
    "Íµ≠Ïñ¥": [80, 90, 70, 30],
    "ÏòÅÏñ¥": [90, 70, 60, 40],
    "ÏàòÌïô": [90, 60, 80, 70],
}
columns = ["Íµ≠Ïñ¥", "ÏòÅÏñ¥", "ÏàòÌïô"]
index = ["Ï∂òÌñ•", "Î™ΩÎ£°", "Ìñ•Îã®", "Î∞©Ïûê"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. Î™®Îì† ÌïôÏÉùÏùò ÏàòÌïô Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶àÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
1. Î™®Îì† ÌïôÏÉùÏùò Íµ≠Ïñ¥ÏôÄ ÏòÅÏñ¥ Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
1. Î™®Îì† ÌïôÏÉùÏùò Í∞Å Í≥ºÎ™© ÌèâÍ∑† Ï†êÏàòÎ•º ÏÉàÎ°úÏö¥ Ïó¥Î°ú Ï∂îÍ∞ÄÌïúÎã§.
1. Î∞©ÏûêÏùò ÏòÅÏñ¥ Ï†êÏàòÎ•º 80Ï†êÏúºÎ°ú ÏàòÏ†ïÌïòÍ≥† ÌèâÍ∑† Ï†êÏàòÎèÑ Îã§Ïãú Í≥ÑÏÇ∞ÌïúÎã§.
1. Ï∂òÌñ•Ïùò Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.
1. Ìñ•Îã®Ïùò Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶àÎ°ú ÎÇòÌÉÄÎÇ∏Îã§.

In [136]:
import pandas as pd

In [140]:
data = {
    "Íµ≠Ïñ¥": [80, 90, 70, 30],
    "ÏòÅÏñ¥": [90, 70, 60, 40],
    "ÏàòÌïô": [90, 60, 80, 70],
}
columns = ["Íµ≠Ïñ¥", "ÏòÅÏñ¥", "ÏàòÌïô"]
index = ["Ï∂òÌñ•", "Î™ΩÎ£°", "Ìñ•Îã®", "Î∞©Ïûê"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô
Ï∂òÌñ•  80  90  90
Î™ΩÎ£°  90  70  60
Ìñ•Îã®  70  60  80
Î∞©Ïûê  30  40  70

In [142]:
# 1.Î™®Îì† ÌïôÏÉùÏùò ÏàòÌïô Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶à
# ÏàòÌïô Ï†êÏàòÍ∞Ä Îì§Ïñ¥ÏûàÎäî Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú Ï°∞ÌöåÌïúÎã§.
# Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú Ï°∞Ìöå -> df[Ïó¥ Ïù∏Îç±Ïä§](ÏãúÎ¶¨Ï¶à)
df["ÏàòÌïô"]

Ï∂òÌñ•    90
Î™ΩÎ£°    60
Ìñ•Îã®    80
Î∞©Ïûê    70
Name: ÏàòÌïô, dtype: int64

In [143]:
# 2. Î™®Îì† ÌïôÏÉùÏùò Íµ≠Ïñ¥ÏôÄ ÏòÅÏñ¥ Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
# Íµ≠Ïñ¥, ÏòÅÏñ¥ ÌÇ§Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌÇ§ Î¶¨Ïä§Ìä∏Î°ú ÏãúÎ¶¨Ï¶àÎì§ÏùÑ Ï°∞ÌöåÌï¥ÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÌôî
# Ïó¥Îì§Ïùò Î¶¨Ïä§Ìä∏Î•º []Ïóê ÎÑ£Ïñ¥ÏÑú Ï°∞ÌöåÌïòÎ©¥ Í∑∏ Ïó¥Îì§ÏùÑ Î¨∂ÏùÄ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ ÎÇòÏò¥.
df[["Íµ≠Ïñ¥", "ÏòÅÏñ¥"]]

    Íµ≠Ïñ¥  ÏòÅÏñ¥
Ï∂òÌñ•  80  90
Î™ΩÎ£°  90  70
Ìñ•Îã®  70  60
Î∞©Ïûê  30  40

In [147]:
# 3. Î™®Îì† ÌïôÏÉùÏùò Í∞Å Í≥ºÎ™© ÌèâÍ∑† Ï†êÏàòÎ•º ÏÉàÎ°úÏö¥ Ïó¥Î°ú Ï∂îÍ∞Ä
# df["ÌèâÍ∑†"] = df.mean(axis=1)
df['ÌèâÍ∑†'] = (df['Íµ≠Ïñ¥'] + df['ÏòÅÏñ¥'] + df['ÏàòÌïô']) / 3
df

    Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô         ÌèâÍ∑†
Ï∂òÌñ•  80  90  90  86.666667
Î™ΩÎ£°  90  70  60  73.333333
Ìñ•Îã®  70  60  80  70.000000
Î∞©Ïûê  30  40  70  46.666667

In [148]:
# 4. Î∞©ÏûêÏùò ÏòÅÏñ¥ Ï†êÏàòÎ•º 80Ï†êÏúºÎ°ú ÏàòÏ†ïÌïòÍ≥† ÌèâÍ∑† Ï†êÏàòÎèÑ Îã§Ïãú Í≥ÑÏÇ∞
# df["Î∞©Ïûê"]["ÏòÅÏñ¥"] = 80
# df['ÏòÅÏñ¥'][-1] = 80
# df['ÏòÅÏñ¥'][3] = 80
df["ÌèâÍ∑†"] = df.mean(axis=1)
df

    Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô         ÌèâÍ∑†
Ï∂òÌñ•  80  90  90  86.666667
Î™ΩÎ£°  90  70  60  73.333333
Ìñ•Îã®  70  60  80  70.000000
Î∞©Ïûê  30  40  70  46.666667

In [149]:
# 5. Ï∂òÌñ•Ïùò Ï†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ
# df[0:1]
# df[:1]
df.T[["Ï∂òÌñ•"]]

           Ï∂òÌñ•
Íµ≠Ïñ¥  80.000000
ÏòÅÏñ¥  90.000000
ÏàòÌïô  90.000000
ÌèâÍ∑†  86.666667

In [154]:
# 6. Ìñ•Îã®Ïùò Ï†êÏàòÎ•º ÏãúÎ¶¨Ï¶à
df.T["Ìñ•Îã®"]

Íµ≠Ïñ¥    70.0
ÏòÅÏñ¥    60.0
ÏàòÌïô    80.0
ÌèâÍ∑†    70.0
Name: Ìñ•Îã®, dtype: float64

# Îç∞Ïù¥ÌÑ∞ ÏûÖÏ∂úÎ†•

## CSV ÌååÏùº ÏûÖÎ†•

In [161]:
# comma seperated values : comma(,)Î°ú Íµ¨Î∂ÑÎêú Í∞íÎì§
# ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÎßåÎì§Í∏∞
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Overwriting sample1.csv

In [171]:
# pd.read_csv(ÌååÏùºÏù¥Î¶Ñ) : CSVÌååÏùºÎ°úÎ∂ÄÌÑ∞ Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÏñ¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎßåÎì§Í∏∞
df_csv = pd.read_csv('sample1.csv')
df_csv

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [172]:
# ÎßåÏïΩ Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏóê Ïó¥ Ïù∏Îç±Ïä§ Ï†ïÎ≥¥Í∞Ä ÏóÜÎäî Í≤ΩÏö∞ÏóêÎäî read_csv Î™ÖÎ†πÏùò names Ïù∏ÏàòÎ°ú ÏÑ§Ï†ï Í∞ÄÎä•
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [163]:
df_csv = pd.read_csv('sample2.csv')
df_csv

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [164]:
df_csv = pd.read_csv('sample2.csv', names=['c1','c2','c3']) # names=[Ïó¥Ïù¥Î¶Ñ Î¶¨Ïä§Ìä∏]
df_csv

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [165]:
# ÎßåÏïΩ ÌÖåÏù¥Î∏î ÎÇ¥Ïùò ÌäπÏ†ïÌïú Ïó¥ÏùÑ Ìñâ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÍ≥† Ïã∂ÏúºÎ©¥ index_col Ïù∏ÏàòÎ•º ÏÇ¨Ïö©
df_csv = pd.read_csv('sample2.csv', names=['c1','c2','c3'], index_col=1)
df_csv

      c1      c3
c2
1.11   1     one
2.22   2     two
3.33   3   three

## CSV ÌååÏùº Ï∂úÎ†•

In [166]:
df = pd.read_csv('sample1.csv')
df['c4'] = df['c1'] + df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [167]:
df.to_csv('sample3.csv')

In [168]:
!cat sample3.csv # ÎÇ¥Ïö©ÏùÑ ÏùΩÏñ¥Ïò§Í∏∞

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [169]:
df_to_csv = pd.read_csv("sample3.csv")
df_to_csv

   Unnamed: 0  c1    c2     c3    c4
0           0   1  1.11    one  2.11
1           1   2  2.22    two  4.22
2           2   3  3.33  three  6.33

In [170]:
df_to_csv = pd.read_csv("sample3.csv", index_col=0)
df_to_csv

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [174]:
df.to_excel('sample3.xlsx') # ÏóëÏÖÄÎ°ú Ï†ÄÏû•ÌïòÍ∏∞, df.to_Îã§ÏñëÌïúÌòïÌÉú('ÌååÏùºÏù¥Î¶Ñ.ÌôïÏû•Ïûê')

In [175]:
pd.read_excel('sample3.xlsx', index_col=0) # ÏóëÏÖÄ ÏùΩÏñ¥Ïò§Í∏∞

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## Ïù∏ÌÑ∞ÎÑ∑ ÏÉÅÏùò CSV ÌååÏùº ÏûÖÎ†•
* ÏõπÏÉÅÏóêÎäî Îã§ÏñëÌïú Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏù¥ CSV ÌååÏùº ÌòïÌÉúÎ°ú Ï†úÍ≥µ
* read_csv Î™ÖÎ†π ÏÇ¨Ïö©Ïãú ÌååÏùº Ìå®Ïä§ ÎåÄÏã† URLÏùÑ ÏßÄÏ†ïÌïòÎ©¥ PandasÍ∞Ä ÏßÅÏ†ë Ìï¥Îãπ ÌååÏùºÏùÑ Îã§Ïö¥Î°úÎìúÌïòÏó¨ ÏùΩÏñ¥Îì§ÏûÑ

In [177]:
url = 'https://github.com/BigData23th/DataAnalysis/raw/main/_data/titanic.csv'
pd.read_csv(url) # url Ï£ºÏÜå Ï§ë blobÏùÑ rawÎ°ú Î∞îÍæ∏Î©¥ Í∑∏ÎåÄÎ°ú ÏùΩÏñ¥Ïò®Îã§.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÍ∞Ä ÎßéÏùÑ Í≤ΩÏö∞, Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌëúÌòÑ(representation)ÏùÄ Îç∞Ïù¥ÌÑ∞ Ïïû, Îí§Ïùò ÏùºÎ∂ÄÎ∂ÑÎßå Î≥¥Ïó¨Ï§å
* Î≥¥Ïó¨Ï§Ñ ÌñâÏùò ÏàòÎäî `display.max_rows` ÏòµÏÖòÏúºÎ°ú Ï†ïÌï† Ïàò ÏûàÎã§.

In [180]:
pd.set_option("display.max_rows", 20) # ÏïûÎí§Î°ú Î™®Îëê 20Ìñâ
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* ÎßåÏïΩ ÏïûÏù¥ÎÇò Îí§Ïùò ÌäπÏ†ï Í∞ØÏàòÎßå Î≥¥Í≥† Ïã∂Îã§Î©¥ `head` Î©îÏÑúÎìúÎÇò `tail` Î©îÏÑúÎìúÎ•º Ïù¥Ïö©
* Î©îÏÜåÎìú Ïù∏ÏàòÎ°ú Ï∂úÎ†•Ìï† ÌñâÏùò ÏàòÎ•º ÎÑ£ÏùÑ ÏàòÎèÑ ÏûàÏùå

In [182]:
# df.head()
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [181]:
# df.tail()
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q