<a href="https://colab.research.google.com/github/Yeaaaaaaah/DataAnalysis/blob/main/Yeaaaaaaah/ch06_01_pandas_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* ëŒ€ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì‹œê³„ì—´(series)ë‚˜ í‘œ(table)ë¡œ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆìŒ
* íŒë‹¤ìŠ¤(Pandas)ëŠ” ì´ëŸ¬í•œ ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ì‹œë¦¬ì¦ˆ(`Series`) í´ë˜ìŠ¤ì™€ ë°ì´í„° í”„ë ˆì„(`DataFrame`) í´ë˜ìŠ¤ë¥¼ ì œê³µ

In [1]:
import pandas as pd

## ì‹œë¦¬ì¦ˆ (Series)
* ì‹œë¦¬ì¦ˆëŠ” Numpyì—ì„œ ì œê³µí•˜ëŠ” 1ì°¨ì› ë°°ì—´ê³¼ ë¹„ìŠ·
* ê° ë°ì´í„°ì˜ ì˜ë¯¸(ì´ë¦„)ë¥¼ í‘œì‹œí•˜ëŠ” ì¸ë±ìŠ¤(index)ë¥¼ ë¶™ì¼ ìˆ˜ ìˆìŒ
> ë°ì´í„° ìì²´ëŠ” ê°’(value)ë¼ê³  í•¨
> ì‹œë¦¬ì¦ˆ = ê°’(value) + ì¸ë±ìŠ¤(index)

### ì‹œë¦¬ì¦ˆ ìƒì„±
* ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë‚˜ 1ì°¨ì› ë°°ì—´ í˜•ì‹ìœ¼ë¡œ Series í´ë˜ìŠ¤ ìƒì„±ìì— ë„£ì–´ì£¼ë©´ ì‹œë¦¬ì¦ˆ í´ë˜ìŠ¤ ê°ì²´ë¥¼ ë§Œë“¤ ìˆ˜ ìˆìŒ
* ì´ ë•Œ ì¸ë±ìŠ¤ì˜ ê¸¸ì´ëŠ” ë°ì´í„°ì˜ ê¸¸ì´ì™€ ê°™ì•„ì•¼ í•¨
* ì¸ë±ìŠ¤ì˜ ê°’ì„ ì¸ë±ìŠ¤ ë¼ë²¨(label)ì´ë¼ê³ ë„ í•¨ 
* ì¸ë±ìŠ¤ ë¼ë²¨ì€ ë¬¸ìì—´ ë¿ ì•„ë‹ˆë¼ ë‚ ì§œ, ì‹œê°„, ì •ìˆ˜ ë“±ë„ ê°€ëŠ¥

In [4]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]
s = pd.Series(data, index=index)
s

ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
dtype: int64

* ë§Œì•½ ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•˜ì§€ ì•Šê³  ì‹œë¦¬ì¦ˆë¥¼ ë§Œë“¤ë©´ ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ëŠ” 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ê°’ì´ ë¨

In [5]:
# pd.Series(range(10,14), index=range(4))
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

* ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ëŠ” `index` ì†ì„±ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ
* ì‹œë¦¬ì¦ˆì˜ ê°’ì€ 1ì°¨ì› ë°°ì—´ì´ë©° `values` ì†ì„±ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ

In [6]:
s.index

Index(['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'], dtype='object')

In [7]:
s.values #s.values()ëŠ” ì•ˆë¨

array([9904312, 3448737, 2890451, 2466052])

* `name` ì†ì„±ì„ ì´ìš©í•˜ì—¬ ì‹œë¦¬ì¦ˆ ë°ì´í„°ì— ì´ë¦„ì„ ë¶™ì¼ ìˆ˜ ìˆìŒ
* `index.name` ì†ì„±ìœ¼ë¡œ ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ì—ë„ ì´ë¦„ì„ ë¶™ì¼ ìˆ˜ ìˆìŒ

In [10]:
s.name = 'ì¸êµ¬'
s.index.name ='ë„ì‹œ'
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

### ì‹œë¦¬ì¦ˆ ì—°ì‚°
* ë„˜íŒŒì´ ë°°ì—´ì²˜ëŸ¼ ì‹œë¦¬ì¦ˆë„ ë²¡í„°í™” ì—°ì‚°ì„ í•  ìˆ˜ ìˆìŒ 
* ë‹¤ë§Œ **ì—°ì‚°ì€ ì‹œë¦¬ì¦ˆì˜ ê°’ì—ë§Œ ì ìš©ë˜ë©° ì¸ë±ìŠ¤ ê°’ì€ ë³€í•˜ì§€ ì•ŠìŒ**

In [11]:
s / 1000000

ë„ì‹œ
ì„œìš¸    9.904312
ë¶€ì‚°    3.448737
ì¸ì²œ    2.890451
ëŒ€êµ¬    2.466052
Name: ì¸êµ¬, dtype: float64

### ì‹œë¦¬ì¦ˆ ì¸ë±ì‹± & ìŠ¬ë¼ì´ì‹±
* ì‹œë¦¬ì¦ˆëŠ” Numpy ë°°ì—´ì—ì„œ ê°€ëŠ¥í•œ ì¸ë±ìŠ¤ ë°©ë²• ì´ì™¸ì—ë„ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ì´ìš©í•œ ì¸ë±ì‹±ë„ í•  ìˆ˜ ìˆìŒ 
* ë°°ì—´ ì¸ë±ì‹±ì´ë‚˜ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±(slicing)ë„ ê°€ëŠ¥

In [13]:
s[1], s['ë¶€ì‚°'] # ì‹œë¦¬ì¦ˆ = ìˆœì„œê°€ ìˆëŠ” ë”•ì…”ë„ˆë¦¬. ê·¸ë˜ì„œ ì¸ë±ìŠ¤ì™€ ì¸ë±ìŠ¤ê°’(keyê°’) ëª¨ë‘ë¡œ ì‹œë¦¬ì¦ˆ ë°ì´í„° ê°’ í˜¸ì¶œê°€ëŠ¥

(3448737, 3448737)

In [14]:
s[3], s['ëŒ€êµ¬']

(2466052, 2466052)

In [15]:
s[-1]

2466052

In [17]:
s[[0, 3, 1]] #ì¸ë±ìŠ¤ì— íŠœí”Œì´ ë“¤ì–´ê°?

ë„ì‹œ
ì„œìš¸    9904312
ëŒ€êµ¬    2466052
ë¶€ì‚°    3448737
Name: ì¸êµ¬, dtype: int64

In [18]:
s[["ì„œìš¸", "ë¶€ì‚°"]]

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
Name: ì¸êµ¬, dtype: int64

In [21]:
s[s>5000000] #ë²¡í„°ì—°ì‚°ì´ ë¨ => ë¶ˆë¦¬ì–¸ ë°°ì—´ ì¸ë±ì‹±ë„ ì‘ë™í•¨.
s[ (250e4 < s) & (s < 500e4)] # ì¸êµ¬ê°€ 250ë§Œ ì´ˆê³¼, 500ë§Œ ë¯¸ë§Œì¸ ê²½ìš°(e=0ì¸ ê²½ìš°)

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
Name: ì¸êµ¬, dtype: int64

* ìŠ¬ë¼ì´ì‹±ì„ í•´ë„ ë¶€ë¶„ì ì¸ ì‹œë¦¬ì¦ˆë¥¼ ë°˜í™˜
* ì´ ë•Œ *ë¬¸ìì—´ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±*ì„ í•˜ëŠ” ê²½ìš°ì—ëŠ” **ìˆ«ì ì¸ë±ì‹±ê³¼ ë‹¬ë¦¬ ì½œë¡ (:) ê¸°í˜¸ ë’¤ì— ì˜¤ëŠ” ê°’ë„ ê²°ê³¼ì— í¬í•¨**ë˜ë¯€ë¡œ ì£¼ì˜

In [23]:
s[1:3] # ë‘ë²ˆì¨°(1index)ë¶€í„° ì„¸ë²ˆì¨°(2)ê¹Œì§€, = ë„¤ë²ˆì§¸(3) ì§ì „ê¹Œì§€

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
Name: ì¸êµ¬, dtype: int64

In [25]:
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

In [26]:
s["ë¶€ì‚°":"ëŒ€êµ¬"] # ë¬¸ìì—´ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±ì´ë¼ ëŒ€êµ¬ë„ í¬í•¨

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

* ë§Œì•½ ë¼ë²¨ ê°’ì´ ì˜ë¬¸ ë¬¸ìì—´ì¸ ê²½ìš°ì—ëŠ” ì¸ë±ìŠ¤ ë¼ë²¨ì´ ì†ì„±ì¸ê²ƒì²˜ëŸ¼ ì (.)ì„ ì´ìš©í•˜ì—¬ í•´ë‹¹ ì¸ë±ìŠ¤ ê°’ì— ì ‘ê·¼í•  ìˆ˜ë„ ìˆìŒ

In [28]:
import numpy as np
#s0 = pd.Series(range(3), index=['a', 'b', 'c'])
s0 = pd.Series(range(3), index=list('abc'))
s0

a    0
b    1
c    2
dtype: int64

In [29]:
s0.a, s0.b, s0.c #ë³€ìˆ˜í™” í• ìˆ˜ìˆëŠ” ì´ë¦„ì´ë¼ë©´ 1) ìˆ«ìë¡œ ì‹œì‘í•˜ì§€ì•Šì„ê²ƒ 2.ê³µë°±ì„ í¬í•¨í•˜ì§€ ì•Šì„ê²ƒ. 3.ì´ìƒí•œ íŠ¹ìˆ˜ë¬¸ì í¬í•¨ì•Šì„ê²ƒ

(0, 1, 2)

In [30]:
# ê·¼ë° í•œêµ­ì–´ë„ ëŒ
s.ë¶€ì‚°

3448737

### ì‹œë¦¬ì¦ˆì™€ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•
* ì‹œë¦¬ì¦ˆ ê°ì²´ëŠ” ë¼ë²¨ ê°’ì— ì˜í•´ ì¸ë±ì‹±ì´ ê°€ëŠ¥í•˜ë¯€ë¡œ ì‹¤ì§ˆì ìœ¼ë¡œ ì¸ë±ìŠ¤ ë¼ë²¨ ê°’ì„ í‚¤(key)ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ê³¼ ìœ ì‚¬
* ë”°ë¼ì„œ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ì—ì„œ ì œê³µí•˜ëŠ” in ì—°ì‚°ë„ ê°€ëŠ¥í•˜ê³  items ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ for ë£¨í”„ë¥¼ í†µí•´ ê° ì›ì†Œì˜ í‚¤(key)ì™€ ê°’(value)ì„ ì ‘ê·¼í•  ìˆ˜ë„ ìˆìŒ

In [ ]:
"ì„œìš¸" in s #ì‹œë¦¬ì¦ˆ sì•ˆì— ì„œìš¸ì´ë¼ëŠ” ì¸ë±ìŠ¤ ë¼ë²¨(í‚¤)ê°€ ì¡´ì¬í•˜ëŠ”ì§€?

True

In [34]:
"ëŒ€ì „" not in s

True

In [40]:
for k, v in s.items():    #######################3
  print(k+ "=" + str(v))
  print(f"{k} = {v}")
  print("{k} = {v}".format(k=k, v=v))
  print("{k} = {v}".format(k=k, v=v))

ì„œìš¸=9904312
ì„œìš¸ = 9904312
ì„œìš¸ = 9904312
ë¶€ì‚°=3448737
ë¶€ì‚° = 3448737
ë¶€ì‚° = 3448737
ì¸ì²œ=2890451
ì¸ì²œ = 2890451
ì¸ì²œ = 2890451
ëŒ€êµ¬=2466052
ëŒ€êµ¬ = 2466052
ëŒ€êµ¬ = 2466052

* ë”•ì…”ë„ˆë¦¬ ê°ì²´ì—ì„œ ì‹œë¦¬ì¦ˆë¥¼ ë§Œë“¤ ìˆ˜ë„ ìˆìŒ

In [41]:
s2 = pd.Series({
    "ì„œìš¸":    963148,
    "ë¶€ì‚°":    3393191,
    "ì¸ì²œ":    2632035,
    "ëŒ€ì „":    1490158,
})
s2

ì„œìš¸     963148
ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€ì „    1490158
dtype: int64

* ë”•ì…”ë„ˆë¦¬ì˜ ì›ì†ŒëŠ” ìˆœì„œë¥¼ ê°€ì§€ì§€ ì•Šìœ¼ë¯€ë¡œ ì‹œë¦¬ì¦ˆì˜ ë°ì´í„°ë„ ìˆœì„œê°€ ë³´ì¥ë˜ì§€ ì•ŠìŒ
* ë§Œì•½ ìˆœì„œë¥¼ ì •í•˜ê³  ì‹¶ë‹¤ë©´ ì¸ë±ìŠ¤ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ì§€ì •í•´ì•¼ í•¨

In [42]:
s2 = pd.Series({
    "ì„œìš¸":    963148,
    "ë¶€ì‚°":    3393191,
    "ì¸ì²œ":    2632035,
    "ëŒ€ì „":    1490158,
}, index=["ë¶€ì‚°", "ì„œìš¸", "ì¸ì²œ", "ëŒ€ì „"]) #ë‚´ë¶€ ì…ë ¥ìˆœì„œ ìƒê´€ì—†ì´ ì¸ë±ìŠ¤ë¡œ ìˆœì„œì§€ì •
s2

ë¶€ì‚°    3393191
ì„œìš¸     963148
ì¸ì²œ    2632035
ëŒ€ì „    1490158
dtype: int64

### ì¸ë±ìŠ¤ ê¸°ë°˜ ì—°ì‚°
* ë‘ ì‹œë¦¬ì¦ˆì— ëŒ€í•´ ì—°ì‚°ì„ í•˜ëŠ” ê²½ìš° ì¸ë±ìŠ¤ê°€ ê°™ì€ ë°ì´í„°ì— ëŒ€í•´ì„œë§Œ ì°¨ì´ë¥¼ êµ¬í•¨

In [43]:
print(s)
print(s2)

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64
ë¶€ì‚°    3393191
ì„œìš¸     963148
ì¸ì²œ    2632035
ëŒ€ì „    1490158
dtype: int64

In [44]:
ds = s - s2
ds  #NaNì€ not a numberì˜ ì•½ì. ì´ìœ  : ì—†ëŠ” ì¸ë±ìŠ¤ëŠ” Nullì„. ê·¸ë˜ì„œ Nullì´ë‘ ìˆ«ìë‘ ì—°ì‚°í•˜ë©´ NaNì´ ë‚˜ì˜¨ë‹¤

ëŒ€êµ¬          NaN
ëŒ€ì „          NaN
ë¶€ì‚°      55546.0
ì„œìš¸    8941164.0
ì¸ì²œ     258416.0
dtype: float64

In [45]:
ds = s * s2
ds

ëŒ€êµ¬             NaN
ëŒ€ì „             NaN
ë¶€ì‚°    1.170222e+13
ì„œìš¸    9.539318e+12
ì¸ì²œ    7.607768e+12
dtype: float64

In [46]:
ds = s > s2 #ë¹„êµëŠ” ì¸ë±ìŠ¤ê°€ ì™„ì „ ê°™ì•„ì•¼ê°€ëŠ¥í•¨
ds

ValueError: ignored

In [49]:
s.values, s2.values, s.values - s2.values #ê°™ì€ ìœ„ì¹˜ì˜ ê°’ì„ ëºŒ. = ì •í™•í•œ ê³„ì‚°ì€ ì•„ë‹˜

(array([9904312, 3448737, 2890451, 2466052]),
 array([3393191,  963148, 2632035, 1490158]),
 array([6511121, 2485589,  258416,  975894]))

In [56]:
# NaNì¸ ê°’ì„ ì œì™¸í•˜ê³  êµ¬í•˜ê³  ì‹¶ë‹¤ë©´ notnull ë©”ì†Œë“œë¥¼ ì‚¬ìš©
ds = s - s2
ds.notnull()
# ds.notnull() !=True #ë°˜ëŒ€ë¡œ ë‚˜ì˜´
# ds.notnull() !=1
# ds.notnull().eq(0)

ëŒ€êµ¬    False
ëŒ€ì „    False
ë¶€ì‚°     True
ì„œìš¸     True
ì¸ì²œ     True
dtype: bool

In [60]:
ds = s - s2
ds[ds.notnull()]

ë¶€ì‚°      55546.0
ì„œìš¸    8941164.0
ì¸ì²œ     258416.0
dtype: float64

In [58]:
# ì¸êµ¬ ì¦ê°€ìœ¨ êµ¬í•˜ê¸° (%)
# s: 2015, s2: 2010, 2010 -> 2015 ì¸êµ¬ì¦ê°€ìœ¨
# (s - s2) / s2 * 100
rs = (s - s2)/ s2 * 100
rs = rs[rs.notnull()]
rs

ë¶€ì‚°      1.636984
ì„œìš¸    928.327111
ì¸ì²œ      9.818107
dtype: float64

### ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
* ì¸ë±ì‹±ì„ ì´ìš©í•˜ì—¬ ë”•ì…”ë„ˆë¦¬ì²˜ëŸ¼ ë°ì´í„°ë¥¼ ê°±ì‹ (update) í˜¹ì€ ì¶”ê°€(add)

In [61]:
rs["ë¶€ì‚°"] = 1.63
rs

ë¶€ì‚°      1.630000
ì„œìš¸    928.327111
ì¸ì²œ      9.818107
dtype: float64

In [63]:
rs["ëŒ€êµ¬"] = 1.41
rs

ë¶€ì‚°      1.630000
ì„œìš¸    928.327111
ì¸ì²œ      9.818107
ëŒ€êµ¬      1.410000
dtype: float64

In [64]:
# ë°ì´í„° ì‚­ì œì‹œ del ëª…ë ¹ ì‚¬ìš©
del rs["ì„œìš¸"]
rs

ë¶€ì‚°    1.630000
ì¸ì²œ    9.818107
ëŒ€êµ¬    1.410000
dtype: float64

### ğŸ¦† ì—°ìŠµë¬¸ì œ 1
1. ì„ì˜ë¡œ ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë§Œë“ ë‹¤. ëª¨ë‘ ë¬¸ìì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì ¸ì•¼ í•˜ë©° ë‘ ì‹œë¦¬ì¦ˆì— ê³µí†µì ìœ¼ë¡œ í¬í•¨ë˜ì§€ ì•ŠëŠ” ë¼ë²¨ì´ ìˆì–´ì•¼ í•œë‹¤.
1. ìœ„ì—ì„œ ë§Œë“  ë‘ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ì´ìš©í•˜ì—¬ ì‚¬ì¹™ ì—°ì‚°ì„ í•œë‹¤.

In [75]:
import numpy as np
import pandas as pd

In [86]:
# ëœë¤ ì‹œë¦¬ì¦ˆ ê°ì²´ ìƒì„±
# [chr(a) for a in range(65,91)] # chr :ì•„ìŠ¤í‚¤ì½”ë“œ ë½‘ì•„ì¤Œ
# np.random.choice(list(map(chr,range(65,91))), 6, replace=False)
str_index = lambda x: np.random.choice(list(map(chr, range(65,75))), 6, replace = False)
value_count = 6
s1 = pd.Series(np.random.randn(value_count), str_index(value_count))
s2 = pd.Series(np.random.randn(value_count), str_index(value_count))
print(s1)
print(s2)

G    0.620171
A    1.584905
H    0.330022
I    1.009685
J   -0.822236
C    0.273498
dtype: float64
I    0.587966
G   -0.121122
B   -0.263126
A    1.508691
D   -0.246324
C    0.278000
dtype: float64

In [88]:
s1 + s2

A    3.093596
B         NaN
C    0.551497
D         NaN
G    0.499048
H         NaN
I    1.597651
J         NaN
dtype: float64

In [89]:
s1 - s2

A    0.076214
B         NaN
C   -0.004502
D         NaN
G    0.741293
H         NaN
I    0.421718
J         NaN
dtype: float64

In [81]:
data = [5523, 1254, 4458, 3215]
index = ["ê¹€", "ë‚˜", "ë°•", "ì´"]
t1 = pd.Series(data, index=index)
print(t1)
data = [9875, 1585, 7855, 6848]
index = ["ê¹€", "ë‚˜", "ë°•", "ì¶©"]
t2 = pd.Series(data, index=index)
print(t2)

ê¹€    5523
ë‚˜    1254
ë°•    4458
ì´    3215
dtype: int64
ê¹€    9875
ë‚˜    1585
ë°•    7855
ì¶©    6848
dtype: int64

In [82]:
ts = t1 + t2
ts

ê¹€    15398.0
ë‚˜     2839.0
ë°•    12313.0
ì´        NaN
ì¶©        NaN
dtype: float64

In [83]:
ts[ts.notnull()]

ê¹€    15398.0
ë‚˜     2839.0
ë°•    12313.0
dtype: float64

In [84]:
tt = t1 + t2
tt
tt[tt.notnull()]

ê¹€    15398.0
ë‚˜     2839.0
ë°•    12313.0
dtype: float64

In [85]:
td = t1 % t2
td[td.notnull()]

ê¹€    5523.0
ë‚˜    1254.0
ë°•    4458.0
dtype: float64

## ë°ì´í„°í”„ë ˆì„ (DataFrame)
* ì‹œë¦¬ì¦ˆê°€ 1ì°¨ì› ë°°ì—´ ë°ì´í„°ì— í–‰ë°©í–¥ ì¸ë±ìŠ¤(row index)ë¥¼ ë¶™ì¸ ê²ƒì´ë¼ë©´ ë°ì´í„°í”„ë ˆì„ëŠ” 2ì°¨ì› í–‰ë ¬ ë°ì´í„°ì— ì¸ë±ìŠ¤ë¥¼ ë¶™ì¸ ê²ƒ
* 2ì°¨ì›ì´ë¯€ë¡œ ê°ê°ì˜ í–‰ ë°ì´í„°ì˜ ì´ë¦„ì´ ë˜ëŠ” í–‰ ì¸ë±ìŠ¤(row index) ë¿ ì•„ë‹ˆë¼ ê°ê°ì˜ ì—´ ë°ì´í„°ì˜ ì´ë¦„ì´ ë˜ëŠ” ì—´ ì¸ë±ìŠ¤(column index)ë„ ë¶™ì¼ ìˆ˜ ìˆìŒ

### ë°ì´í„°í”„ë ˆì„ ìƒì„±
1. í•˜ë‚˜ì˜ ì—´ì´ ë˜ëŠ” ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë‚˜ ì¼ì°¨ì› ë°°ì—´ì„ ì¤€ë¹„
1. ì´ ê°ê°ì˜ ì—´ì— ëŒ€í•œ ì´ë¦„(ë¼ë²¨)ì„ í‚¤ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ë¥¼ ìƒì„±
1. ì´ ë°ì´í„°ë¥¼ DataFrame ìƒì„±ìì— ë„£ìŒ. ë™ì‹œì— ì—´ë°©í–¥ ì¸ë±ìŠ¤ëŠ” `columns` ì¸ìˆ˜ë¡œ, í–‰ë°©í–¥ ì¸ë±ìŠ¤ëŠ” `index` ì¸ìˆ˜ë¡œ ì§€ì •

In [90]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ì§€ì—­": ["ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ", "ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ"],
    "2010-2015 ì¦ê°€ìœ¨": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["ì§€ì—­", "2015", "2010", "2005", "2000", "2010-2015 ì¦ê°€ìœ¨"]
index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]

In [92]:
df = pd.DataFrame(data, index=index, columns=columns)
df

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

* ë°ì´í„°í”„ë ˆì„ì€ ê³µí†µ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ëŠ” ì—´ ì‹œë¦¬ì¦ˆ(column series)ë¥¼ ë”•ì…”ë„ˆë¦¬ë¡œ ë¬¶ì–´ë†“ì€ ê²ƒì´ë¼ê³  ë³´ëŠ” ê²ƒì´ ë” ì •í™•
* ë°ì´í„°í”„ë ˆì„ì€ ê° ì—´(column)ë§ˆë‹¤ ìë£Œí˜•ì´ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ (2ì°¨ì› ë°°ì—´ì´ë¼ê³  ë³´ê¸°ì—” ë¬´ë¦¬)
---
* ë°ì´í„°ë§Œ ì ‘ê·¼í•˜ë ¤ë©´ `values` ì†ì„± ì‚¬ìš©
* ì—´ë°©í–¥ ì¸ë±ìŠ¤ : `columns` ì†ì„±
* í–‰ë°©í–¥ ì¸ë±ìŠ¤ : `index` ì†ì„±

In [93]:
df.values

array([['ìˆ˜ë„ê¶Œ', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['ê²½ìƒê¶Œ', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['ìˆ˜ë„ê¶Œ', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['ê²½ìƒê¶Œ', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [94]:
df.columns #ì¼ì¢…ì˜ í‚¤ ë¦¬ìŠ¤íŠ¸

Index(['ì§€ì—­', '2015', '2010', '2005', '2000', '2010-2015 ì¦ê°€ìœ¨'], dtype='object')

In [95]:
df.index #ì¼ì¢…ì˜ í‚¤ ë¦¬ìŠ¤íŠ¸

Index(['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'], dtype='object')

In [97]:
# ì‹œë¦¬ì¦ˆì²˜ëŸ¼ ì—´ë°©í–¥ ì¸ë±ìŠ¤ì™€ í–‰ë°©í–¥ ì¸ë±ìŠ¤ì— ì´ë¦„ì„ ë¶™ì´ëŠ” ê²ƒë„ ê°€ëŠ¥
df.index.name = 'ë„ì‹œ'
df.columns.name = "íŠ¹ì„±"
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

### ğŸ¦† ì—°ìŠµë¬¸ì œ 2
ë‹¤ìŒ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ì„ì˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ í•˜ë‚˜ ë§Œë“ ë‹¤.

1. ì—´ì˜ ê°¯ìˆ˜ì™€ í–‰ì˜ ê°¯ìˆ˜ê°€ ê°ê° 5ê°œ ì´ìƒì´ì–´ì•¼ í•œë‹¤.
1. ì—´ì—ëŠ” ì •ìˆ˜, ë¬¸ìì—´, ì‹¤ìˆ˜ ìë£Œí˜• ë°ì´í„°ê°€ ê°ê° 1ê°œ ì´ìƒì”© í¬í•¨ë˜ì–´ ìˆì–´ì•¼ í•œë‹¤.

In [105]:
data = {
    "ì¢…ë¥˜": ["í–‰ì •ì‚¬", "ê³µì¸ì¤‘ê°œì‚¬", "ì£¼íƒê´€ë¦¬ì‚¬", "ì‚¬íšŒê´€ë¦¬ì‚¬", "ì •ë³´ì²˜ë¦¬ê¸°ì‚¬"],
    "ë‹¨ê°€": [20000, 25000, 10200, "ë¬´ë£Œ", 55030],
    "í™•ì •ì¼": ["3ì›” 5ì¼", "4ì›” 7ì¼", "5ì›” 20ì¼", "8ì›” 2ì¼", "ë‚´ì¼"],
    "í•©ê²©ë¥ ": [0.15, 0.50, 0.23, 0.25, 0.90],
    "ì‘ì‹œì§€ì—­": ["ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ", "ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ","ì „ë‚¨ê¶Œ"],
    "2010-2015 ì‘ì‹œì¸ì› ì¦ê°ìœ¨": [-0.0283, 0.0163, -0.0982, 0.0141, 0.2323]
}
columns = ["ì¢…ë¥˜","ë‹¨ê°€","í™•ì •ì¼","í•©ê²©ë¥ ","ì‘ì‹œì§€ì—­","2010-2015 ì‘ì‹œì¸ì› ì¦ê°ìœ¨"]
index = ["êµ­ê°€ìê²©", "ë¯¼ê°„ìê²©","ë¹„ë³´í˜¸","êµ­ê°€ìê²©","êµ­ê°€ìê²©"]

In [106]:
nd = pd.DataFrame(data, index=index, columns=columns)
nd

          ì¢…ë¥˜     ë‹¨ê°€     í™•ì •ì¼   í•©ê²©ë¥  ì‘ì‹œì§€ì—­  2010-2015 ì‘ì‹œì¸ì› ì¦ê°ìœ¨
êµ­ê°€ìê²©     í–‰ì •ì‚¬  20000   3ì›” 5ì¼  0.15  ìˆ˜ë„ê¶Œ             -0.0283
ë¯¼ê°„ìê²©   ê³µì¸ì¤‘ê°œì‚¬  25000   4ì›” 7ì¼  0.50  ê²½ìƒê¶Œ              0.0163
ë¹„ë³´í˜¸    ì£¼íƒê´€ë¦¬ì‚¬  10200  5ì›” 20ì¼  0.23  ìˆ˜ë„ê¶Œ             -0.0982
êµ­ê°€ìê²©   ì‚¬íšŒê´€ë¦¬ì‚¬     ë¬´ë£Œ   8ì›” 2ì¼  0.25  ê²½ìƒê¶Œ              0.0141
êµ­ê°€ìê²©  ì •ë³´ì²˜ë¦¬ê¸°ì‚¬  55030      ë‚´ì¼  0.90  ì „ë‚¨ê¶Œ              0.2323

In [110]:
pd.DataFrame({
    "a" : np.random.randn(5), #-2 ~ 2 ì‚¬ì´ í‘œì¥°ì •ê·œë¶„í¬ë¥¼ ë”°ë¥´ëŠ”...(í‰ê· 0, í‘œì¤€í¸ì°¨1)
    'b' : np.random.rand(5), #0~1ì‚¬ì´ ì„ì˜ì˜ê°’ 5ê°œ
    "c" : np.random.randint(10, size =5), #0~9ì‚¬ì´ì˜ 5ê°œ ì •ìˆ˜
    # "d" : np.logspace(0,1,5)
    "d" : np.linspace(0, 1, 5),
    'e' : np.random.choice(list("ã„±ã„´ã„·ã„¹ã…ã…‚ã……"), 5, replace=False),
},
# index=list("ABCDE")
index = list(map(chr, range(65,70)))
)

          a         b  c     d  e
A  1.314563  0.995008  9  0.00  ã„¹
B -0.792741  0.086424  8  0.25  ã……
C -0.200783  0.221257  3  0.50  ã…‚
D  0.271652  0.626246  9  0.75  ã„±
E  0.660726  0.002402  3  1.00  ã„·

In [111]:
# ë°ì´í„°í”„ë ˆì„ì€ ì „ì¹˜(transpose)ë¥¼ í¬í•¨í•˜ì—¬ ë„˜íŒŒì´ 2ì°¨ì› ë°°ì—´ì´ ê°€ì§€ëŠ” ëŒ€ë¶€ë¶„ì˜ ì†ì„±ì´ë‚˜ ë©”ì„œë“œë¥¼ ì§€ì›
df.T

ë„ì‹œ                  ì„œìš¸       ë¶€ì‚°       ì¸ì²œ       ëŒ€êµ¬
íŠ¹ì„±
ì§€ì—­                 ìˆ˜ë„ê¶Œ      ê²½ìƒê¶Œ      ìˆ˜ë„ê¶Œ      ê²½ìƒê¶Œ
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 ì¦ê°€ìœ¨   0.0283   0.0163   0.0982   0.0141

### ì—´ ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
* ë°ì´í„°í”„ë ˆì„ì€ ì—´ ì‹œë¦¬ì¦ˆì˜ ë”•ì…”ë„ˆë¦¬ìœ¼ë¡œ ë³¼ ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì—´ ë‹¨ìœ„ë¡œ ë°ì´í„°ë¥¼ ê°±ì‹ í•˜ê±°ë‚˜ ì¶”ê°€, ì‚­ì œí•  ìˆ˜ ìˆìŒ

In [113]:
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

In [114]:
df['ì§€ì—­']

ë„ì‹œ
ì„œìš¸    ìˆ˜ë„ê¶Œ
ë¶€ì‚°    ê²½ìƒê¶Œ
ì¸ì²œ    ìˆ˜ë„ê¶Œ
ëŒ€êµ¬    ê²½ìƒê¶Œ
Name: ì§€ì—­, dtype: object

In [115]:
df["ì§€ì—­"]["ì„œìš¸"], df["ì§€ì—­"][0]

('ìˆ˜ë„ê¶Œ', 'ìˆ˜ë„ê¶Œ')

In [117]:
df['2010-2015 ì¦ê°€ìœ¨'] * 100

ë„ì‹œ
ì„œìš¸    2.83
ë¶€ì‚°    1.63
ì¸ì²œ    9.82
ëŒ€êµ¬    1.41
Name: 2010-2015 ì¦ê°€ìœ¨, dtype: float64

In [119]:
# df['2010-2015 ì¦ê°€ìœ¨'] = df['2010-2015 ì¦ê°€ìœ¨'] * 100
df['2010-2015 ì¦ê°€ìœ¨'] *= 100
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

In [122]:
#"2005 - 2010 ì¦ê°€ìœ¨" ì´ë¼ëŠ” ì´ë¦„ì˜ ì—´ì„ ì¶”ê°€
# 2005-2010 ì¦ê°€ìœ¨ = (2010ì¸êµ¬ìˆ˜ - 2005ì¸êµ¬ìˆ˜)/2005ì¸êµ¬ìˆ˜ * 100
df['2005-2010 ì¦ê°€ìœ¨'] = ((df['2010'] - df['2005']) / df['2005'] * 100).round(2)  #ë”•ì…”ë„ˆë¦¬í˜•íƒœê¸°ë•Œë¬¸ì— ì—†ëŠ” í‚¤ì…ë ¥ = ìƒˆë¡œìš´ í‚¤ë¡œ í• ë‹¹
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41          -0.99

In [123]:
del df["2010-2015 ì¦ê°€ìœ¨"] #ì£¼ë¡œ del ë³´ë‹¨ dropì„ ì”€.
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990          -0.99

### ì—´ ì¸ë±ì‹±
* ë°ì´í„°í”„ë ˆì„ì€ ì—´ ë¼ë²¨ì„ í‚¤ë¡œ, ì—´ ì‹œë¦¬ì¦ˆë¥¼ ê°’ìœ¼ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ì™€ ìœ ì‚¬
* ë”°ë¼ì„œ ë°ì´í„°í”„ë ˆì„ì„ ì¸ë±ì‹±ì„ í•  ë•Œë„ ì—´ ë¼ë²¨(column label)ì„ í‚¤ê°’ìœ¼ë¡œ ìƒê°í•˜ì—¬ ì¸ë±ì‹±ì„ í•  ìˆ˜ ìˆìŒ
* ì¸ë±ìŠ¤ë¡œ ë¼ë²¨ ê°’ì„ í•˜ë‚˜ë§Œ ë„£ìœ¼ë©´ ì‹œë¦¬ì¦ˆ ê°ì²´ê°€ ë°˜í™˜ë˜ê³  ë¼ë²¨ì˜ ë°°ì—´ ë˜ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ë„£ìœ¼ë©´ ë¶€ë¶„ì ì¸ ë°ì´í„°í”„ë ˆì„ì´ ë°˜í™˜

In [124]:
# í•˜ë‚˜ì˜ ì—´ë§Œ ì¸ë±ì‹±í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ë°˜í™˜
df['ì§€ì—­']

ë„ì‹œ
ì„œìš¸    ìˆ˜ë„ê¶Œ
ë¶€ì‚°    ê²½ìƒê¶Œ
ì¸ì²œ    ìˆ˜ë„ê¶Œ
ëŒ€êµ¬    ê²½ìƒê¶Œ
Name: ì§€ì—­, dtype: object

In [126]:
# ì—¬ëŸ¬ê°œì˜ ì—´ì„ ì¸ë±ì‹±í•˜ë©´ ë¶€ë¶„ì ì¸ ë°ì´í„°í”„ë ˆì„ì´ ë°˜í™˜
df[['2010','2015']]
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990          -0.99

* ë§Œì•½ í•˜ë‚˜ì˜ ì—´ë§Œ ë¹¼ë‚´ë©´ì„œ ë°ì´í„°í”„ë ˆì„ ìë£Œí˜•ì„ ìœ ì§€í•˜ê³  ì‹¶ë‹¤ë©´ ì›ì†Œê°€ í•˜ë‚˜ì¸ ë¦¬ìŠ¤íŠ¸ë¥¼ ì¨ì„œ ì¸ë±ì‹±

In [127]:
# 2010ì´ë¼ëŠ” ì—´ì„ ë°˜í™˜í•˜ë©´ì„œ ë°ì´í„°í”„ë ˆì„ ìë£Œí˜•ì„ ìœ ì§€
df[['2010']]

íŠ¹ì„±     2010
ë„ì‹œ
ì„œìš¸  9631482
ë¶€ì‚°  3393191
ì¸ì²œ  2632035
ëŒ€êµ¬  2431774

In [128]:
type(df[['2010']])

pandas.core.frame.DataFrame

In [129]:
# 2010ì´ë¼ëŠ” ì—´ì„ ë°˜í™˜í•˜ë©´ì„œ ì‹œë¦¬ì¦ˆ ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜
df['2010']

ë„ì‹œ
ì„œìš¸    9631482
ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€êµ¬    2431774
Name: 2010, dtype: int64

In [130]:
type(df['2010'])

pandas.core.series.Series

* ë°ì´í„°í”„ë ˆì„ì˜ ì—´ ì¸ë±ìŠ¤ê°€ ë¬¸ìì—´ ë¼ë²¨ì„ ê°€ì§€ê³  ìˆëŠ” ê²½ìš°ì—ëŠ” ìˆœì„œë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì •ìˆ˜ ì¸ë±ìŠ¤ë¥¼ ì—´ ì¸ë±ì‹±ì— ì‚¬ìš©í•  ìˆ˜ ì—†ìŒ
* ì •ìˆ˜ ì¸ë±ì‹±ì˜ ìŠ¬ë¼ì´ìŠ¤ëŠ” í–‰(row)ì„ ì¸ë±ì‹±í•  ë•Œ ì‚¬ìš©í•˜ë¯€ë¡œ ì—´ì„ ì¸ë±ì‹±í•  ë•ŒëŠ” ì“¸ ìˆ˜ ì—†ìŒ (ì •ìˆ˜ ì¸ë±ìŠ¤ë¥¼ ë„£ìœ¼ë©´ KeyError ì˜¤ë¥˜ê°€ ë°œìƒ)

In [131]:
df[0]

KeyError: ignored

* ë‹¤ë§Œ ì›ë˜ë¶€í„° ë¬¸ìì—´ì´ ì•„ë‹Œ ì •ìˆ˜í˜• ì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ëŠ” ê²½ìš°ì—ëŠ” ì¸ë±ìŠ¤ ê°’ìœ¼ë¡œ ì •ìˆ˜ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [132]:
df2 = pd.DataFrame(np.arange(12).reshape(3,4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [135]:
df2[0]

0    0
1    4
2    8
Name: 0, dtype: int64

In [138]:
df2[[0,1]]

   0  1
0  0  1
1  4  5
2  8  9

In [140]:
df3 = pd.DataFrame(np.arange(12).reshape(3,4), columns=range(1,5))
df3

   1  2   3   4
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [142]:
df3[3] #ìœ„ì¹˜ì¸ë±ìŠ¤ì™€ ì •ìˆ˜ì˜ ì´ë¦„ì„ ê°€ì§„ ì¸ë±ìŠ¤ë¥¼ êµ¬ë¶„í•´ì•¼í•¨

0     2
1     6
2    10
Name: 3, dtype: int64

### í–‰ ì¸ë±ì‹±
* ë§Œì•½ í–‰ ë‹¨ìœ„ë¡œ ì¸ë±ì‹±ì„ í•˜ê³ ì í•˜ë©´ í•­ìƒ ìŠ¬ë¼ì´ì‹±(slicing)ì„ í•´ì•¼í•¨
* ì¸ë±ìŠ¤ì˜ ê°’ì´ ë¬¸ì ë¼ë²¨ì´ë©´ ë¼ë²¨ ìŠ¬ë¼ì´ì‹±ë„ ê°€ëŠ¥

In [143]:
df[:1]

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972          -1.34

In [144]:
df[1:2]

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           -3.4

In [145]:
df[1:3]#ì§ì ‘í˜¸ì¶œ-ì—´ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹±ì²˜ëŸ¼í˜¸ì¶œ-í–‰ì¸ë±ì‹±

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           4.54

In [147]:
df["ì„œìš¸":"ëŒ€êµ¬"]  #ì‹œë¦¬ì¦ˆì—ì„œì˜ ì¸ë±ì‹±ê³¼ ê°™ìŒ = ìˆ«ìë¡œ ì¸ë±ì‹±í•˜ë©´ ë³¸ì¸ë¯¸í¬í•¨, ë¬¸ìì—´ë¡œ ì¸ë±ì‹±í•˜ë©´ ë³¸ì¸í¬í•¨

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990          -0.99

### ê°œë³„ ë°ì´í„° ì¸ë±ì‹±
* ë°ì´í„°í”„ë ˆì„ì—ì„œ ì—´ ë¼ë²¨ë¡œ ì‹œë¦¬ì¦ˆë¥¼ ì¸ë±ì‹±í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ë¨. ì´ ì‹œë¦¬ì¦ˆë¥¼ ë‹¤ì‹œ í–‰ ë¼ë²¨ë¡œ ì¸ë±ì‹±í•˜ë©´ ê°œë³„ ë°ì´í„°ê°€ ë‚˜ì˜´.

In [149]:
df['2015']

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: 2015, dtype: int64

In [151]:
df['2015'][0] #ì—´ì„ ì¡°íšŒí•œê²ƒ = ì‹œë¦¬ì¦ˆ = >ì‹œë¦¬ì¦ˆì²˜ëŸ¼ ì¸ë±ìŠ¤ê°€ëŠ¥

9904312

In [154]:
df['2015']["ì¸ì²œ"]

2890451

### ë°ì´í„° í”„ë ˆì„ ì¸ë±ì‹± ë°©ë²• ì •ë¦¬
|ì¸ë±ì‹± ê°’|ê°€ëŠ¥|ê²°ê³¼|ìë£Œí˜•|ì¶”ê°€ì‚¬í•­|
|:-|:-|:-|:-|:-|
|ë¼ë²¨|O|ì—´|ì‹œë¦¬ì¦ˆ||
|ë¼ë²¨ ë¦¬ìŠ¤íŠ¸|O|ì—´|ë°ì´í„°í”„ë ˆì„||
|ì¸ë±ìŠ¤ ë°ì´í„° (ì •ìˆ˜)|X||ì—´ ë¼ë²¨ì´ ì •ìˆ˜ì¸ ê²½ìš°ì—ëŠ” ë¼ë²¨ ì¸ë±ì‹±ìœ¼ë¡œ ì¸ì •|
|ì¸ë±ìŠ¤ ë°ì´í„°(ì •ìˆ˜) ìŠ¬ë¼ì´ìŠ¤|O|í–‰|ë°ì´í„°í”„ë ˆì„||

### ğŸ¦† ì—°ìŠµë¬¸ì œ 3
```
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
1. ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
1. ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

In [170]:
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì¶˜í–¥  80  90  90
ëª½ë£¡  90  70  60
í–¥ë‹¨  70  60  80
ë°©ì  30  40  70

In [171]:
# 1. ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
# = ìˆ˜í•™ì ìˆ˜ê°€ ë“¤ì–´ìˆëŠ” ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì¡°íšŒí•œë‹¤.
# ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì¡°íšŒ -> df[ì—´ ì¸ë±ìŠ¤] return ì‹œë¦¬ì¦ˆ
df['ìˆ˜í•™']

ì¶˜í–¥    90
ëª½ë£¡    60
í–¥ë‹¨    80
ë°©ì    70
Name: ìˆ˜í•™, dtype: int64

In [172]:
# 2. ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
# êµ­ì–´, ì˜ì–´ í‚¤ë¥¼ ì‚¬ìš©í•´ì„œ í‚¤ ë¦¬ìŠ¤íŠ¸ë¡œ ì‹œë¦¬ì¦ˆë“¤ì„ ì¡°íšŒí•´ì„œ ë°ì´í„°í”„ë ˆì„í™”
# ì—´ë“¤ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼[]ì— ë„£ì–´ì„œ ì¡°íšŒí•˜ë©´ ê·¸ ì—´ë“¤ì„ ë¬¶ì€ ë°ì´í„°í”„ë ˆì„ì´ ë‚˜ì˜¨ë‹¤.
df[['êµ­ì–´','ì˜ì–´']]

    êµ­ì–´  ì˜ì–´
ì¶˜í–¥  80  90
ëª½ë£¡  90  70
í–¥ë‹¨  70  60
ë°©ì  30  40

In [173]:
# # 3. ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
# df['í‰ê· '] = ((df['êµ­ì–´'] + df['ì˜ì–´'] + df['ìˆ˜í•™'] ) / 3)
# df
df['í‰ê· '] = df.mean(axis=1)
df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  40  70  46.666667

In [167]:
# 4. ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
# df["ì˜ì–´"]["ë°©ì"] = 80
df["ì˜ì–´"][3] = 80
df['í‰ê· '] = ((df['êµ­ì–´'] + df['ì˜ì–´'] + df['ìˆ˜í•™'] ) / 3)
df

<ipython-input-167-92857498ce1f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ì˜ì–´"][3] = 80

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  80  70  60.000000

In [166]:
# 5. ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
#df[0:1], df[:1]
#df.T[["ì¶˜í–¥"]].T
df["ì¶˜í–¥":"ì¶˜í–¥"]

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667

In [175]:
# 6. í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
# df.T["í–¥ë‹¨"]
df.loc["í–¥ë‹¨"]

êµ­ì–´    70.0
ì˜ì–´    60.0
ìˆ˜í•™    80.0
í‰ê·     70.0
Name: í–¥ë‹¨, dtype: float64

# ë°ì´í„° ì…ì¶œë ¥

## CSV íŒŒì¼ ì…ë ¥

In [177]:
# CSV = comma seperated values : comma(,)ë¡œ êµ¬ë¶„ëœ ê°’ë“¤
# ìƒ˜í”Œ ë°ì´í„° ë§Œë“¤ê¸°
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [178]:
# pd.read_csv(íŒŒì¼ì´ë¦„) : CSVíŒŒì¼ë¡œë¶€í„° ë°ì´í„°ë¥¼ ì½ì–´ ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°
pd.read_csv('sample1.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [179]:
# ë§Œì•½ ë°ì´í„° íŒŒì¼ì— ì—´ ì¸ë±ìŠ¤ ì •ë³´ê°€ ì—†ëŠ” ê²½ìš°ì—ëŠ” read_csv ëª…ë ¹ì˜ names ì¸ìˆ˜ë¡œ ì„¤ì • ê°€ëŠ¥
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [182]:
df_csv2 = pd.read_csv('sample2.csv')
df_csv2

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [183]:
df_csv2 = pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3']) #names = [ì—´ì´ë¦„ë¦¬ìŠ¤íŠ¸]
df_csv2

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [191]:
# ë§Œì•½ í…Œì´ë¸” ë‚´ì˜ íŠ¹ì •í•œ ì—´ì„ í–‰ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ê³  ì‹¶ìœ¼ë©´ index_col ì¸ìˆ˜ë¥¼ ì‚¬ìš©
df_csv3 = pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'], index_col = 0) # index_col = në²ˆì§¸ë¥¼ ì§€ì •-ì¸ë±ìŠ¤ì²˜ëŸ¼ 0ë¶€í„°ì‹œì‘
df_csv3

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

## CSV íŒŒì¼ ì¶œë ¥

In [193]:
df = pd.read_csv('sample1.csv')
df['c4'] = df['c1'] + df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [194]:
df.to_csv('sample3.csv')

In [196]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [208]:
df_to_csv = pd.read_csv('sample3.csv', index_col=0)
df_to_csv
#df_to_excel/markdownë“±ìœ¼ë¡œ ë‹¤ë¥´ê²Œ ì €ì¥ê°€ëŠ¥

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [201]:
df.to_excel('sample3.xlsx')

In [202]:
pd.read_excel('sample3.xlsx', index_col=0)

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## ì¸í„°ë„· ìƒì˜ CSV íŒŒì¼ ì…ë ¥
* ì›¹ìƒì—ëŠ” ë‹¤ì–‘í•œ ë°ì´í„° íŒŒì¼ì´ CSV íŒŒì¼ í˜•íƒœë¡œ ì œê³µ
* read_csv ëª…ë ¹ ì‚¬ìš©ì‹œ íŒŒì¼ íŒ¨ìŠ¤ ëŒ€ì‹  URLì„ ì§€ì •í•˜ë©´ Pandasê°€ ì§ì ‘ í•´ë‹¹ íŒŒì¼ì„ ë‹¤ìš´ë¡œë“œí•˜ì—¬ ì½ì–´ë“¤ì„

In [204]:
url = 'https://github.com/BigData23th/DataAnalysis/raw/main/_data/titanic.csv'
pd.read_csv(url)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* ë°ì´í„°ì˜ ìˆ˜ê°€ ë§ì„ ê²½ìš°, ë°ì´í„°í”„ë ˆì„ì˜ í‘œí˜„(representation)ì€ ë°ì´í„° ì•, ë’¤ì˜ ì¼ë¶€ë¶„ë§Œ ë³´ì—¬ì¤Œ
* ë³´ì—¬ì¤„ í–‰ì˜ ìˆ˜ëŠ” `display.max_rows` ì˜µì…˜ìœ¼ë¡œ ì •í•  ìˆ˜ ìˆë‹¤.

In [210]:
pd.set_option("display.max_rows", 20) # ì•ë’¤ë¡œ ëª¨ë‘ 20í–‰
df = pd.read_csv(url) # ì£¼í”¼í„°ë‚˜ ë¡œì»¬ì€ ë˜ëŠ”ë° ì½”ë ™ì€ ì•ˆí•´ì¤Œ
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* ë§Œì•½ ì•ì´ë‚˜ ë’¤ì˜ íŠ¹ì • ê°¯ìˆ˜ë§Œ ë³´ê³  ì‹¶ë‹¤ë©´ `head` ë©”ì„œë“œë‚˜ `tail` ë©”ì„œë“œë¥¼ ì´ìš©
* ë©”ì†Œë“œ ì¸ìˆ˜ë¡œ ì¶œë ¥í•  í–‰ì˜ ìˆ˜ë¥¼ ë„£ì„ ìˆ˜ë„ ìˆìŒ

In [211]:
#df.head() #ì•ì—ì„œ Nê°œ ê°€ì ¸ì˜´
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [212]:
#df.tail() #ë’¤ì—ì„œ Nê°œ ê°€ì ¸ì˜´
df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q